.community-title 
  GOAL MATES
  .community-box  
    - @goal_mates.each do |goal_user|
      .user
        .avatar
          = image_tag goal_user.user.avatar.url(:thumb)
        .name 
          = goal_user.user.fullname
    .clear
.community-title
  SUPPORTERS
  %p.community-supporter-copy
    You don't have any supporters yet. They can be a great way to stay motivated and share the satisfaction of reaching a goal.
    %br/
    %a{:href => "#"} Invite family or friends to support you for this goal
    