---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3Z2OPOcVgF3n0H&description=beansalad%40idealme.com&plan=1
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393369755,
          "id": "cus_3Z2ODx9h92kWNy",
          "livemode": false,
          "description": "beansalad@idealme.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Z2ODx9h92kWNy/subscriptions",
            "data": [
              {
                "id": "sub_3Z2OILzjzhByNx",
                "plan": {
                  "interval": "month",
                  "name": "Ideal Me Insider Circle 1",
                  "created": 1393018297,
                  "amount": 1995,
                  "currency": "usd",
                  "id": "1",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393369755,
                "status": "active",
                "customer": "cus_3Z2ODx9h92kWNy",
                "cancel_at_period_end": false,
                "current_period_start": 1393369755,
                "current_period_end": 1395788955,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Z2ODx9h92kWNy/cards",
            "data": [
              {
                "id": "card_3Z2O1TXAKEGO1R",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "0FJgJUWQopgJgoZs",
                "customer": "cus_3Z2ODx9h92kWNy",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_3Z2O1TXAKEGO1R"
        }
  recorded_at: Tue, 25 Feb 2014 23:09:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_3Z2ODx9h92kWNy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "cust[...]
