---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3SPVNS7ePtn99s&description=beansalad%40idealme.com
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Sat, 08 Feb 2014 06:33:24 GMT
recorded_with: VCR 2.8.0
