---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3TmaKKxlKmcipc&description=normal%40idealme.com
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1392157713,
          "id": "cus_3Tmamgjp4fxjV3",
          "livemode": false,
          "description": "normal@idealme.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_3Tmamgjp4fxjV3/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Tmamgjp4fxjV3/cards",
            "data": [
              {
                "id": "card_3TmaR7BcUDJuhZ",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "0FJgJUWQopgJgoZs",
                "customer": "cus_3Tmamgjp4fxjV3",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_3TmaR7BcUDJuhZ"
        }
  recorded_at: Tue, 11 Feb 2014 22:28:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=99700&currency=usd&customer=cus_3Tmamgjp4fxjV3
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3TmauKb2VMH8hA",
          "object": "charge",
          "created": 1392157714,
          "livemode": false,
          "paid": true,
          "amount": 99700,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_3TmaR7BcUDJuhZ",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "0FJgJUWQopgJgoZs",
            "customer": "cus_3Tmamgjp4fxjV3",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_3TmaCnuZTJ1DpK",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3Tmamgjp4fxjV3",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Tue, 11 Feb 2014 22:28:34 GMT
recorded_with: VCR 2.8.0
