---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_3daxy3mbmotdBx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_3daxy3mbmotdBx",
          "livemode": false,
          "created": 1394420866,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_3daxX9AR7PZuhL",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "0FJgJUWQopgJgoZs",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 10 Mar 2014 03:07:49 GMT
recorded_with: VCR 2.8.0
