= form_tag(add_student_dashboard_course_path, :method => 'post') do
  .row.collapse
    = hidden_field_tag('course_id', @course.id)
    .ten.columns
      = text_field_tag('login', nil, :placeholder => 'Login')
    .two.columns
      = submit_tag('Add to course', :class => 'button')
table.twelve
  thead
    tr
      th
        | User
      th
        | Email
  tbody
    - @course.users.each do |user|
      tr
        td
          = link_to "#{user.firstname} #{user.lastname}", user_path(user)
        td
          = user.email
