
<div id="topbar" ></div>
  <div id="wrap">
    <div id="outer" class="">
      <div id="container">
        <%= @fragment.html.html_safe if @fragment %>
      </div>
    </div>
    <div id="footer">
      <div id="footertext"> </div>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
