    <div id="topbar">
    </div>
    <div id="wrap">
      <div id="outer">
        <div id="container">
          <div class="toprighttext">  
            <p><strong>Need help? </strong><br>
            Call us at 512-366-3332</p>
            <p>
              <a href="mailto:support@survivallife.com">Email Customer Service</a><br>
            </p>
          </div>
          <%= image_tag('./c_files/1survlife-logo-sm.png', :height => 40, :width => 212) %>
          <div class="progress"> 
          </div>
          <div id="container2">
            <p align="center">
            <%= image_tag('./c_files/dontclose-new4.png') %>
            </p><br>
            <p align="center">
            </p>

          <div align="center" id="flvplayer443526" style="background-color:Transparent;overflow:hidden;">

            <div id="p443526_wrapper" style="position: relative; width: 720px; height: 400px;">

              <object type="application/x-shockwave-flash" data="https://ezs3.s3.amazonaws.com/player/510/player.swf" width="100%" height="100%" bgcolor="#000000" id="p443526" name="p443526" tabindex="0">
                <param name="allowfullscreen" value="true">
                <param name="allowscriptaccess" value="always">
                <param name="seamlesstabbing" value="true">
                <param name="wmode" value="opaque"><param name="flashvars">
              </object>

            <div id="p443526_captions" style="position: absolute; z-index: 10; left: 0px; top: 0px;">
            </div>
          </div>
      </div>

      <p></p>

    </div>

    <h1> Reserved for Brittany</h1>