<div id="topbar">
</div>
<div id="wrap">
  <div id="outer">
    <div id="container">
      <div class="header-fragment-content">
        <% fragment = Fragment.where(slug: "funnel-header") %>
        <%= fragment.html.html_safe if fragment %>
      </div>
      <div class="main-fragment-content">
        <%= @fragment.html.html_safe if @fragment %>
      </div>

      <h1 class="offer-container">Reserved for <%= current_user.firstname %></h1>

      <div id="offer-container" class="hidden">
        <button type="link" name="button1" id="purchase-offer-btn">Buy this thing</button>
        <button type="link" name="button2" id="decline-offer-btn">Don't buy this thing</button>
      </div>
    </div>
  </div>
</div>
