<div id="topbar">
</div>
<div id="wrap">
  <div id="outer">
    <div id="container">
      <div class="toprighttext">
        <p><strong>Need help? </strong><br>
        Call us at 512-366-3332</p>
        <p>
        <a href="mailto:support@survivallife.com">Email Customer Service</a><br>
        </p>
      </div>
      <%= image_tag('idealme-logo-sm.png', :height => 63, :width => 212) %>
      <div id="container2">
        <p align="center">
        <%= image_tag('dontclose-new4.png') %>
        </p><br>
        <p align="center">
        </p>


        <iframe src="//fast.wistia.net/embed/iframe/ds0p8ohv3o" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="835" height="640"></iframe>

      </div>

      <h1 class="offer-container"> Reserved for Brittany</h1>

      <div id="offer-container" class="hidden">

        <button type="link" name="button1" id="purchase-offer-btn">Buy this thing</button>
        <button type="link" name="button2" id="decline-offer-btn">Don't buy this thing</button>
      </div>
    </div>
  </div>
</div>
