
  <div id="column">
    <div id="outer"> 
      <img src="/assets/headline-workbook.png" width="900" height="100">
      <div id="container">
        <div class="upsell-hero">
         <img border="0" src="/assets/upsell-2-cover.jpg" width="535" height="383">
        </div>
        <div class="upsell-cta">
          <div id="stocknotice">
            <h3> <strong>Ideal Me Print Edition Workbook</strong></h3>
          </div>
          <p><strong>For a Limited Time:
            FREE with  Shipping</strong><br>
            Tell Us Where We Can Send Yours Below: 
          </p>        
          <div align="center">
            <p><b>Claim yours now:</b></p>
            <div class="price-area"> 
              Each Printed Workbook&nbsp;-  FREE + $7 S&amp;H</div>
              <p> <a href="/"><img src="./assets/nextpage-button3.png"></a></p>
              <p><img src="/assets/secure-privacy.png" width="300" height="97"></p>
            </div>
          <div> 
        </div> 
      </div>     
    <div id="clearfix vid-player"> 
      <iframe src="//fast.wistia.net/embed/iframe/i3lfb6jgkp" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="561"></iframe>
    </div>
    <div class="what-theyre-saying">
      <h2>Here's What People Are Saying:  </h2>
        <img src="/assets/cardsharp-social.jpg" width="375" height="353" style="margin-bottom:8px;">
    </div> 
    <div class="book-features">
      <h2>Features</h2>
      <ul class="smallchecks">
        <li> <strong>Ideal Me Vision Board</strong> - Create your “ideal me” vision using pictures, quotes, and cut-outs. (<strong>*BONUS*</strong>: For a limited time, you’ll receive a <strong> collection of Ideal Me stickers</strong> to help you map out your dream life. Just hurry, this bonus is only available with the print-edition, so get yours while supplies last!)</li>
        <li><strong>Fitness Goals</strong> - To be successful, you must measure your progress. This worksheet will help you keep track of inches lost around your thighs, arms, stomach, so you’ll <strong>stay motivated and reach your desired results</strong>.</li>
        <li> <strong>A Daily Food Journal</strong> - Studies show that keeping a food log can help you lose weight and keep it off. <strong>Transform your diet and your health with this simple, yet powerful system</strong>.</li>
        <li><strong>Workout Calendar</strong> - This is not your ordinary calendar! You’ll be able to track your daily water intake, and plan out your cardio and strength-training routines, so you <strong>never get bored</strong>.</li>
        <li><strong>Shopping List</strong> - Make meal-planning a <strong>no-brainer</strong> with this <strong>handy grocery shopping checklist</strong> you can take wherever you go!</li>
        <li><strong>Goal Tracker</strong> - Create an encouraging exercise and diet <strong>system that works for you</strong> with this <strong>reward-based weekly planner</strong>.</li>
        <li><span class="highlight"><strong>UNADVERTISED BONUS -</strong></span> Complete your order for the ‘Design Your Ideal Life” workbook and you’ll get <strong>ELEVEN BONUS WORKSHEETS</strong> designed to help you reach your Ideal YOU—not just your body and health, but in <strong>ALL areas of your life</strong>.
          </li>
      </ul>
      <p>Your BONUS worksheets include the <strong>“Life Balance Wheel”</strong>, <strong>“Ideal Me To-Do List”</strong>, <strong>“What Do I Value?”</strong>, <strong>“My Ideal Day”</strong>, <strong>“Ideal Me Career Plan”</strong>, <strong>“Gamify Your Life”</strong>, and MORE!</p>
    </div>
    <div class="claim">
      <h1 align="center"> Claim Your Design Your Ideal Life Workbook <span class="red1">FREE</span><br>Right Now (just pay $7 S/H)</h1>
    </div>

    <div class="pay-section col-sm-6">
      <section class="pay-method">
        <p>Pay with: 
          <img alt="Credit cards icon" class="credit-cards-image" src="//d1oi23ayjzl9lh.cloudfront.net/assets/icons/credit_cards_icon-  68fa3a1d6f67f4f9ebb5b481a4ee0f1c.png">
        </p>
        <div class="clear"></div>
      </section>
      <form accept-charset="UTF-8" action="/orders/create/workbook-order" class="simple_form orders-payment-form" id="new_order" method="post" novalidate="novalidate">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="✓">
          <input name="authenticity_token" type="hidden" value="Fffe9/nLdgKoYFBOwuUbIO0EizLGMJtk8m4MNazt5nE=">
        </div>
        <input id="order_market_id" name="order[market_id]" type="hidden">
        <input id="order_course_id" name="order[course_id]" type="hidden">
        <input id="order_user_id" name="order[user_id]" type="hidden">
        <input id="order_time" name="order[time]" type="hidden" value="1391561573">
        <input id="order_checksum" name="order[checksum]" type="hidden" value="246885d1767b90166630cf986048c51e7a45f1b7">
        <div class="form-group row">
          <div class="control-group string required order_card_firstname col-sm-6">
            <label class="string required control-label" for="order_card_firstname">
              <abbr title="required">*</abbr> First Name
            </label>
            <div class="controls">
              <input class="string required form-control" id="order_card_firstname" name="order[card_firstname]" type="text">
            </div>
          </div>
          <div class="control-group string required order_card_lastname col-sm-6">
            <label class="string required control-label" for="order_card_lastname">
              <abbr title="required">*</abbr> Last Name
            </label>
            <div class="controls">
              <input class="string required form-control" id="order_card_lastname" name="order[card_lastname]" type="text">
            </div>
          </div>
        </div>
        <div class="form-group row">
         <div class="control-group string optional order_card_number col-sm-6">
          <label class="string optional control-label" for="order_card_number">Card Number</label>
          <div class="controls">
            <input class="string optional form-control" id="order_card_number" name="order[card_number]" type="text">
          </div>
        </div>
        <div class="control-group select optional order_card_type col-sm-6">
          <label class="select optional control-label" for="order_card_type">Card type</label>
          <div class="controls">
            <select class="select optional form-control" id="order_card_type" name="order[card_type]">
              <option value=""></option>
              <option value="visa">Visa</option>
              <option value="master">Master Card</option>
            </select>
          </div>          
        </div>
      </div>
      <div class="form-group row">
        <div class="control-group select optional order_card_exp_month col-sm-3">
          <label class="select optional control-label" for="order_card_exp_month">Card exp month</label>
          <div class="controls">
            <select class="select optional form-control" id="order_card_exp_month" name="order[card_exp_month]">
              <option value=""></option>
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
        </div>
        <div class="control-group select optional order_card_exp_year col-sm-4">
          <label class="select optional control-label" for="order_card_exp_year">Card exp year</label>
          <div class="controls">
            <select class="select optional form-control" id="order_card_exp_year" name="order[card_exp_year]">
              <option value=""></option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
          </div>
        </div>
        <div class="control-group string optional order_card_cvv col-sm-5">
          <label class="string optional control-label" for="order_card_cvv">Security Code (CVV/CSV)</label>
          <div class="controls">
            <input class="string optional form-control" id="order_card_cvv" name="order[card_cvv]" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="control-group email required order_card_email">
          <label class="email required control-label" for="order_card_email">             
            <abbr title="required">*</abbr> Email Address
          </label>
          <div class="controls">
            <input class="string email required form-control" id="order_card_email" name="order[card_email]" type="email" value="">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="control-group string optional order_billing_address1">
          <label class="string optional control-label" for="order_billing_address1">Address line 1</label>
          <div class="controls">
            <input class="string optional form-control" id="order_billing_address1" name="order[billing_address1]" type="text">
          </div>
        </div>
        <div class="control-group string optional order_billing_address2">
          <label class="string optional control-label" for="order_billing_address2">Address line 2</label>
          <div class="controls">
            <input class="string optional form-control" id="order_billing_address2" name="order[billing_address2]" type="text">
          </div>          
        </div>
      </div>
      <div class="form-group row">
        <div class="control-group string optional order_billing_city col-sm-6">
          <label class="string optional control-label" for="order_billing_city">City</label>
          <div class="controls">
            <input class="string optional form-control" id="order_billing_city" name="order[billing_city]" type="text">
          </div>          
        </div>
        <div class="control-group string optional order_billing_zip col-sm-6">
          <label class="string optional control-label" for="order_billing_zip">Zip / Postal Code</label>
          <div class="controls">
            <input class="string optional form-control" id="order_billing_zip" name="order[billing_zip]" type="text">
          </div>          
        </div>
      </div>
      <div class="form-group row">
        <div class="control-group string optional order_billing_state col-sm-6">
          <label class="string optional control-label" for="order_billing_state">State / Province / Region</label>
          <div class="controls">
            <input class="string optional form-control" id="order_billing_state" name="order[billing_state]" type="text"></div>
          </div>            
          <div class="control-group country optional order_billing_country col-sm-6">
            <label class="country optional control-label" for="order_billing_country">Country</label>
            <div class="controls">
              <select class="country optional form-control" id="order_billing_country" name="order[billing_country]">
                <option value="US">United States</option>
                <option disabled="">-------------</option>
                <option value="AF">Afghanistan</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia, Plurinational State of</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, The Democratic Republic of the</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CW">Curaçao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="CI">Côte d'Ivoire</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and McDonald Islands</option>
                <option value="VA">Holy See (Vatican City State)</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran, Islamic Republic of</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KP">Korea, Democratic People's Republic of</option>
                <option value="KR">Korea, Republic of</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">Macedonia, Republic of</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestinian Territory, Occupied</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="RE">Réunion</option>
                <option value="BL">Saint Barthélemy</option>
                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin (French part)</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten (Dutch part)</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela, Bolivarian Republic of</option>
                <option value="VN">Viet Nam</option>
                <option value="VG">Virgin Islands, British</option>
                <option value="VI">Virgin Islands, U.S.</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
                <option value="AX">Åland Islands</option>
              </select>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <section class="submit-box">
          <input class="btn btn-red btn-complete-purchase" name="commit" type="submit" value="Submit Order">
          <div class="clear"></div>
        </section>
      </form>
    </div>

    <div id="rightcol" class="col-sm-6">
      <p align="center"><img src="/assets/secure-privacy.png" alt="" width="300" height="97"></p>
      <blockquote>
        <p><span class="bqstart">“</span>&nbsp;Awesome deal!! Just ordered another two... both for newly commissioned 2Lt's in the Army,  one being my son. Excellent tools to be in any "go bag"!! The knife and survival tool came in about two weeks, and I couldn't be happier!! Sarge (US Army-Ret. 81-06)</p>
        <p class="name"> — George P.<span class="bqend">”</span></p>
      </blockquote> 
      <blockquote>
        <p><span class="bqstart">“</span>&nbsp;I was unsure when it first arrived in the mail but have since grown to love it. It may not chop wood, or do heavy duty tasks but it has already come in handy a few times and have ordered three more as back ups.</p>
        <p class="name">— Luke H.<span class="bqend">”</span></p>
      </blockquote>
      <blockquote>
        <p><span class="bqstart">“</span> Truly a cool little knife than be carried in a wallet, hip pocket, shirt pocket....easily...no bulk at all.</p>
        <p class="name">—David N.<span class="bqend">”</span></p>
      </blockquote>
      <blockquote>
        <p><span class="bqstart">“</span>I have one and it is AWESOME!</p>
        <p class="name">—Chuck L.<span class="bqend">”</span></p>
      </blockquote>       

      <div id="guarantees">
        <p align="center">
          <a href="/" onclick="">60 Day Money Back Guarantee</a>
        </p>
        <p align="center">
          <a href="/" onclick=""><img src="/assets/100-guarantee-seal.png" width="264" height="193" class=""></a>&nbsp;
        </p>
        <h3 align="center">60-Day Risk-Free<br>100% Money-Back Guarantee</h3>
      </div>
    </div>

    <div class="trusts">
      <a href="/"><img src="/assets/NRABAlogo-lrg.jpg" alt="" name="nra" width="198" height="64" id="nra"></a>
      <a href="/" name="Business ID Trust Seal" id="Business ID Trust Seal"><img src="/assets/identity.html" alt="Identity Verified" border="0"></a>
      <a href="/" name="Security Trust Seal" id="Security Trust Seal"><img src="/assets/identity(1).html" alt="Security Verified" border="0"></a>
      <a href="/" name="Privacy Trust Seal" id="Privacy Trust Seal"><img src="/assets/identity(2).html" alt="Privacy Verified" border="0"></a>
    </div>

    <div class="phone">
     <h2>Have Questions? Need Help? Call Us: 1-844-IDEAL ME</h2>
    </div>
  </div>        

