<div class="hero">
  <div class="intro-text">FREE: Design Your Ideal Life Workbook To Improve Confidence And Hit Your Life Goals
  </div>

  <div class="join-box">
    <p>Identify What Your Ideal Life Looks Like And The Best Steps To Achieve It. Plus Get Bonus Lifestyle Hacks And Other Productivity Tricks. Download The Workbook Now!</p>
    <form method="post" class="af-form-wrapper" action="https://www.aweber.com/scripts/addlead.pl">
    <div style="display: none;">
      <input type="hidden" name="meta_web_form_id" value="58003487">
      <input type="hidden" name="meta_split_id" value="">
      <input type="hidden" name="listname" value="idealmeoptin">
      <input type="hidden" name="redirect" value="https://idealme.com/aweber_callback" id="redirect_daf0165d941c85abc3bf9a68a1d3cc90">

      <input type="hidden" name="meta_adtracking" value="idealme.com">
      <input type="hidden" name="meta_message" value="1">
      <input type="hidden" name="meta_required" value="email">
      <input type="hidden" name="meta_forward_vars" value="1">
      <input type="hidden" name="meta_tooltip" value="">
    </div>
    <div id="af-form-58003487" class="af-form af-form">
      <div id="af-body-58003487" class="af-body af-standards">
      <div class="af-element">
        <div class="af-textWrap">
          <input class="field" id="awf_field-57482828" type="text" name="email" value="" tabindex="500">
        </div><div class="af-clear"></div>
      </div>
      <div class="af-element buttonContainer">
        <input name="submit" class="submit join-btn-wp" type="submit" value="Click here To Get The Workbook FREE →" tabindex="501">
        <div class="af-clear"></div>
      </div>
    </div>
  </div>
    <div style="display: none;">
      <img src="https://forms.aweber.com/form/displays.htm?id=rBwMDMwsHOw=" alt="">
    </div>
  </form>
 </div>
</div>

<div class="offer-section">
  <div class="container">
    <div class="worksheet-column">
      <div class="worksheet">
        <img alt="Wksht01" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht01-4aa5c73507107afa59503f7991fa372b.png" width="160">
        <h4>Vision Board</h4><p>A place where you can create your Ideal Me vision using stickers, pictures, quotes and cut-outs that represent your ideal self</p></div><div class="worksheet"><img alt="Wksht02" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht02-d9f3b1a43989fe7800a86d647095da4b.png" width="160"><h4>Life Balance Worksheet</h4><p>Evaluate your commitments and refocus your time on the areas that matter most to you</p></div><div class="worksheet"><img alt="Wksht03" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht03-cc3d993ccdff0abe65ff725dd96743a2.png" width="160"><h4>What Makes Me Happy?</h4><p>Remember the people, places and things that bring joy to your life and experience them more often</p></div><div class="worksheet"><img alt="Wksht04" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht04-935dc7aaa22b7b36877bc5defcd3af85.png" width="160"><h4>If I Could…</h4><p>There are no limits – let yourself imagine the goals you wish to accomplish and plan to realize them sooner rather than later</p></div><div class="worksheet"><img alt="Wksht05" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht05-57e142f1328ce9cba668f36cea192eda.png" width="160"><h4>I Want, I Need</h4><p>Helping you realize what it is you truly want and need to better design your ideal life</p></div><div class="worksheet"><img alt="Wksht06" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht06-4d3d44994d58d9623b0eb4e7da3dce49.png" width="160"><h4>Words to Live By</h4><p>A place to store quotes that speak to you for long term inspiration that will keep you on track to reaching your ideal self</p></div></div><div class="worksheet-column"><div class="worksheet"><img alt="Wksht08" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht08-e5e12e4765648064b1ae0a0f8c9be341.png" width="160"><h4>Ideal Me To-Do List</h4><p>A simple to-do list that will free up mental space and allow you to remain focus on your progress rather than day-to-day tasks</p></div><div class="worksheet"><img alt="Your values" src="//d1oi23ayjzl9lh.cloudfront.net/assets/your-values-f92d04d58dc5829602c96f7dd476da01.jpg" width="160"><h4>What Do I Value?</h4><p>Identify what truly matters to you so you can focus on goals that bring you the most satisfaction</p></div><div class="worksheet"><img alt="Wksht09" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht09-0f1cbc6ac6d130b86e5c307dc4f892b1.png" width="160"><h4>Top 3 Ideal Me Goals</h4><p>Identify your next steps through the use of highly effective Ideal Me reverse engineering strategies and life hacks</p></div><div class="worksheet"><img alt="Wksht10" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht10-4b25ecde52e8e56ec5426117de480e9b.png" width="160"><h4>Gamify Your Life</h4><p>Stay inspired to achieve success and allow yourself to indulge on guilty pleasures… because you’ve earned them!</p></div><div class="worksheet"><img alt="Wksht11" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht11-66fc6d69e3f95a281e35b8bb0cb4441b.png" width="160"><h4>Ideal Me Career Plan</h4><p>A dynamic way of defining and creating a clear, direct pathway to your dream career</p></div><div class="worksheet"><img alt="Wksht12" src="//d1oi23ayjzl9lh.cloudfront.net/assets/wksht12-b7cd61d7a0ab089e426fbcdd08d1c138.png" width="160"><h4>My Ideal Day</h4><p>Discover how to transform your current day into your ideal day through the power of reverse engineering</p>
      </div>
      </div>
        <div class="clear">
      </div>
    </div>
  </div>

  <div class="second-CTA">
        <form method="post" class="af-form-wrapper" action="https://www.aweber.com/scripts/addlead.pl">
    <div style="display: none;">
      <input type="hidden" name="meta_web_form_id" value="58003487">
      <input type="hidden" name="meta_split_id" value="">
      <input type="hidden" name="listname" value="idealmeoptin">
      <input type="hidden" name="redirect" value="https://idealme.com/aweber_callback" id="redirect_daf0165d941c85abc3bf9a68a1d3cc90">

      <input type="hidden" name="meta_adtracking" value="idealme.com">
      <input type="hidden" name="meta_message" value="1">
      <input type="hidden" name="meta_required" value="email">
      <input type="hidden" name="meta_forward_vars" value="1">
      <input type="hidden" name="meta_tooltip" value="">
    </div>
    <div id="af-form-58003487" class="af-form af-form"><div id="af-body-58003487" class="af-body af-standards">
      <div class="af-element">
        <div class="af-textWrap">
          <input class="field" id="awf_field-57482828" type="text" name="email" value="" tabindex="500">
        </div><div class="af-clear"></div>
      </div>
      <div class="af-element buttonContainer">
        <input name="submit" class="submit join-btn-wp" type="submit" value="Click here To Get The Workbook FREE →" tabindex="501">
        <div class="af-clear"></div>
      </div>
    </div>
  </div>
    <div style="display: none;">
      <img src="https://forms.aweber.com/form/displays.htm?id=rBwMDMwsHOw=" alt="">
    </div>
  </form>
</div>
