


<div id="topbar"> </div>
<div id="wrap">
  <div id="outer">
    <div id="container">
      <div class="header-fragment-content">
        <% fragment = Fragment.where(slug: "funnel-header").first %>
        <%= fragment.html.html_safe if fragment %>
      </div>
      <%= @fragment.html.html_safe if @fragment %>
       <p><%= image_tag('progress.png', :height => 27, :width => 790) %></p>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>
