

<div id="topbar"> </div>
<div id="wrap">
  <%#= @fragment.html.html_safe if @fragment %>
  <div id="outer">
    <div id="container">
        <div class="toprighttext">
          <p><strong>Need help?</strong><br>
            Call us at 1-844-IDEALME (a.k.a. 1-844-433-2563)</p>
          <p><a href="mailto:info@idealme.com">Email Customer Service</a><br></p>
        </div>

   <%= image_tag('idealme-logo-sm.png', :height => 63, :width => 212) %>

      <div class="pad">

      <div align="center">
    <h1 align="center" style="margin-top:0;">Thank You</h1>
    <div align="left" style="font-family: arial,helvetica,sans-serif; font-size: 14px;">
      <table width="745" border="0">
        <tbody><tr>
          <td width="482">
          <p align="center"><%= image_tag('cardsharp.jpg', :alt => 'knife', :height => 161, :width => 226) %> </p>
          <p>Please check your email inbox for confirmation of today's purchase.<br>
              <br>
              Our team works hard to deliver our orders and you should expect to receive your Credit Card Knife in 15-21 business days.  <br>
              <br>
              You now also have access to my "Every Day Carry Kit" report as an added  bonus to your Credit Card Knife. Click this link to download your report  now: <a href="http://members-resources.s3.amazonaws.com/Absolute-Rights/Reports/EverydayCarry.pdf" target="_blank" data-mce-href="http://members-resources.s3.amazonaws.com/Absolute-Rights/Reports/EverydayCarry.pdf">Every Day Carry Kit Report</a> <br>
<br>
Your "everyday carry kit" just got a major upgrade, and we know you're going to love the ultra-light and convenient Credit Card Knife from the moment you receive it in the mail. </p><!--<p align="center">
<a href="http://www.survivallife.com/ultimate-edc-kit">
<img alt="EveryDayCarryKit" height="450" src="http://www.survivallife.com/wp-content/uploads/2013/12/bundle-banner2.jpg" width="400" />
</a>
</p>  -->

            As a special thank you — and to make sure you get as much value as possible from SurvivalLife.com — I've set you up with a complimentary subscription to my Survival Life e-newsletter. If you liked the information you received today, you're going to love my e-newsletter!<br>
  <br>
            Every Monday and Friday, I'll send you my free e-newsletter, which will include the latest in expert survival news, tips, tactics and strategies. You'll also receive my personal product reviews of the best survival gear on the planet.<br>
            Plus, my e-newsletter is the best way to get breaking news and other great information I come across during the week.<br>
  <br>
            I feel privileged to have you be a part of the SurvivalLife.com family, and I look forward to sharing what I know with you.<br>
  <br>
            Remember, we're all in this together!<br>
  "Above Average" Joe<br>
            Survival Life<p></p>
            <p>P.S. If you have any questions or concerns, please contact our support team at: <a href="mailto:support@survivallife.com">support@survivallife.com</a> or call customer service at 512-366-3332</p>



           <div class="offerbox">
             <h1>Special Offer For Survival Life Members <u>ONLY</u><br>
Free Report: "Divided We Fall"</h1>
            <table width="100%" border="0">
              <tbody><tr>
                <td width="36%"><%= image_tag('divided-cover.jpg', :height => 259, :width => 200) %></td>
                <td width="64%" align="center"><p><strong>Claim Your Free Copy of "Divided We Fall" and Get a Complimentary  Subscription to the <em>Absolute Rights Newsletter</em></strong></p>
                  <p>Enter your email address below to claim your copy<br>
                    of this controversial report.</p>
             <form accept-charset="UTF-8" action="https://absoluterights.infusionsoft.com/app/form/process/0fe44d2c7ae1a15f675b986905a22d0d" class="infusion-form" method="POST">
    <input name="inf_form_xid" type="hidden" value="0fe44d2c7ae1a15f675b986905a22d0d">
    <input name="inf_form_name" type="hidden" value="cck optimized: Divided We Fall Co Reg">
    <input name="infusionsoft_version" type="hidden" value="1.29.6.37">

       <input type="hidden" name="inf_field_LeadSourceId" value="">

        <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="hidden" value="Brittany">


        <input class="infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="hidden" value="Lynch">


<p align="center">
<input class="text" type="text" size="20" value="brittanylynch@gmail.com" id="inf_field_Email" name="inf_field_Email">
</p>

  <input type="image" value="submit" src="orange_getinstantaccess.png" onclick="dontpop();">

</form></td>
              </tr>
            </tbody></table>
            <p>&nbsp;</p>


          </div>
            <p></p>

          <div class="offerbox">
            <h1>Special Offer For Survival Life Members <u>ONLY</u><br>
Free Report: "The Great American Renaissance"</h1>
            <table width="100%" border="0">
              <tbody><tr>
                <td width="36%" valign="top"><%= image_tag('Great-American-Renaissance-cover.jpg', :height => 300, :width => 232) %></td>
                <td width="64%" align="center"><p><strong>Claim Your Free Copy of "The Great American Renaissance" and Get a Complimentary  Subscription to the <em><br>
                  Gaines Research Newsletter</em></strong></p>
                  <p>Enter your email address below to claim your copy<br>
                    of this controversial report.</p>
<form accept-charset="UTF-8" action="https://absoluterights.infusionsoft.com/app/form/process/80bec248d6acd88a6b8a228760194e3e" class="infusion-form" method="POST">
    <input name="inf_form_xid" type="hidden" value="80bec248d6acd88a6b8a228760194e3e">
    <input name="inf_form_name" type="hidden" value="cck optimize: Great American Renaissance Co Reg">
    <input name="infusionsoft_version" type="hidden" value="1.29.6.37">



       <input type="hidden" name="inf_field_LeadSourceId" value="">

        <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="hidden" value="Brittany">


        <input class="infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="hidden" value="Lynch">


<p align="center">
<input class="text" type="text" size="20" value="brittanylynch@gmail.com" id="inf_field_Email" name="inf_field_Email">
</p>

  <input type="image" value="submit" src="orange_getinstantaccess.png" onclick="dontpop();">

</form></td>
              </tr>
            </tbody></table>
            <p>&nbsp;</p>


            </div>
            </td>
        </tr>
      </tbody></table>
      <p>&nbsp;</p>


  </div>
      </div>


 </div>

    </div>
  </div>
  <div id="footer">
    <div id="footertext">
       <p align="center">© 2014 Survival Life <a href="https://secure.survivallife.com/terms-of-service.php" onclick="return popitup(&#39;/terms-of-service.php&#39;)">Terms of Service</a> | <a href="https://secure.survivallife.com/privacy-policy.php" onclick="return popitup(&#39;/privacy-policy.php&#39;)">Privacy Policy</a> | <a href="https://secure.survivallife.com/contact-us.php" onclick="return popitup(&#39;/contact-us.php&#39;)">Contact Us</a>
    </p></div>

  </div>
  <div style="clear:both;"></div>


</div>
