<div id="topbar"></div>
  <div id="wrap">
    <div id="outer" class="">
      <div id="container">
        <div class="toprighttext">  
          <p><strong>Need help? </strong><br>
          Call us at 512-366-3332</p>
          <p>
            <a href="mailto:support@survivallife.com">Email Customer Service</a><br>
          </p>
        </div>
      <%= image_tag('1survlife-logo-sm.png', :height => 40, :width => 212) %>
    <div class="progress"> 
    </div>

    <div id="container-inner">
      <div class="longform">
        <p align="center">This offer expires in exactly 3:00 minutes: <span id="timer_container">00:02:53</span></p>
        <h2 align="CENTER" class="googlefont" style="margin-bottom:0;">
          <span class="googlefont" style="margin-bottom:0;">Get Unlimited Access to Everything<br>
FREE for 7 days and I'll STILL Give You<br>
The $39 Knife FREE if You Love I
          </span>t
        </h2>
        <p align="CENTER"><%= image_tag('group-strike.jpg', :height => 275, :width => 700) %></p>
        <p>Yes I know this is crazy, but you really need this information and I want
to prove to you that we deliver. Plus I want you to have the knife as my
gift to you but most of all we need patriots like you in the Lamplighters.
        <br>
        <br>
        So...
        <br>
        <br>
        Here's what I'm gonna do...
        <br>
        <br>
        Just say yes below and you'll receive instant unlimited access to all
      our members only information for a lousy dollar.
        <br>
        <br>
        If you love it do nothing and on day 8 you'll automatically become a
      Lamplighters for just $19.95 a month and I'll ship your knife the very next
      day... Then you'll get our full package in the mail every month.
        <br>
        <br>
        And...
        <br>
        <br>
        If I'm full of crap, just send an email to cancel within 7 day and we'll
      never bill you a dime in the future.<br>
      <br>
      Fair enough?
      <br>
      <br>
      I thought so.
      <br>
      <br>
      Say yes now to join America's largest group of Patriots over 10,000 in all. Hurry before this offer disappears in 3:00 minutes.<br>
      </p>
    </div>
    <div align="center">
      <form accept-charset="UTF-8" action="https://absoluterights.infusionsoft.com/app/form/process/5857eaec00018dc6adf494eedab40ca1" class="infusion-form" method="POST">
       <input name="inf_form_xid" type="hidden" value="5857eaec00018dc6adf494eedab40ca1">
       <input name="inf_form_name" type="hidden" value="cck affiliates: oto1b LL Trial">
       <input name="infusionsoft_version" type="hidden" value="1.29.7.34">
       <input name="inf_custom_Conversion" type="hidden" value="cckoptoto1blltrialaff">
    

        <table cellpadding="4" cellspacing="4" width="100%" align="center" id="anchor">
        <tbody><tr><td colspan="98"></td></tr>
        <tr style="display: none;" align="center">
        <td style="background:url(arrows.png;) center bottom no-repeat">
          <p><span style="background-color:#FF0; margin: 5px;">Please Enter Your Email &amp; <br>
        Click Add To Cart Button To Purchase</span><br>
        <br>
          </p>
          <table border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td><input style="background-color:#FF9; border-color:#333;" type="text" size="40" class="default-input" name="inf_field_Email" id="inf_field_Email" value="brittanylynch@gmail.com"></td>
                  </tr>
            </tbody>
          </table>
          <br>
        </td>
      </tr>
      <tr>
        <td align="center">
          <p>
            <input type="image" <%= image_tag("addtocart-67.png")%> :name => Submit, :id =>Submit, :onclick => dontpop();>



            <br>
            <%= image_tag('./f_files/ssl_lock-sm2.png', :height => 64, :width => 60) %> 
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>

<div align="center">  
<p><a href="https://secure.survivallife.com/products/credit-card-knife/affiliates/oto2-down.php?inf_field_Email=brittanylynch@gmail.com" onclick="dontpop();">No thanks, I don't want a free trial of the Lamplighter Society</a></p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footertext">
</div>
</div>
<div style="clear:both;"></div> 
</div>