/* ******************************************** */
/* Main styles (Global styles for all pages) */
/* ******************************************** */
body {
  @include bg(#FBFAEC);
}

.container {
  padding-top: 10px;
  width: 1255px;
  max-width: 1255px;
  margin-left: auto;
  margin-right: auto;
//  @include rel;
}

.main_section {
  @include float-left;
  width: 872px;
  @include left;
  .post-wrapper {
    margin-left: 105px;
    width: 600px;
    @include hex(#333333);
    @include fs(16px);
    @include lh(25px);
    padding-top: 50px;
    h1, h2 {
      font-weight: normal;
    }
    h2 {
      @include lh(32px);
      @include m_t(0);
    }
    p, h1, h2, h3 {
      @include m_b(25px);
    }
  }
}

.right_sidebar {
  @include float-left;
  width: 370px;
  @include left;
}

/* ******************************************** */
/* modal box elements */
/* ******************************************** */
.modal_box {
  border: 1px solid #ebeae8;
  @include border-radius(5px);
  @include bg(white);
  .modal_body {
    padding: 20px;
    @include fs(14px);
    @include hex(#999999);
    .media-heading {
      @include bold;
      @include hex(#4d4d4d);
    }
  }
}

.modal_title1 {
  @include fs(14px);
  @include centered;
  @include hex(#8b8b8b);
  padding: 17px 0 14px 0;
  @include upper;
  border-bottom: 1px solid #ebeae8;
}

.modal_title2 {
  @include bg(#fbfbfb);
  @extend .modal_title1;
  @include fs(18px);
  @include hex(#8b8b8b);
  padding: 12px 0 12px 0;
}

.modal_title3 {
  @extend .modal_title2;
  padding: 28px 0 18px 0;
  border-top: 1px solid #ebeae8;
}

.modal_title4 {
  @extend .modal_title3;
  @include fs(14px);
  padding: 21px 0 21px 0;
}

.modal_footer {
  border-top: 1px solid #ebeae8;
}

.media {
  margin-top: 30px;
  .pull-left {
    margin-right: 18px;
  }
}

.answer {
  margin-left: 40px;
  font-style: italic;
}

.goal-name { color: #666666; @include fs(14px);  @include centered; margin-bottom: 13px; margin-top: 5px; font-weight: 700;}
.bottom-box { border-top: 1px solid #EBEBEB; }
.user-card, .goal-card, .goal-user-card { .avatar { @include p_t(5px); @include centered; } }
.like-box { @include float-left; width: 90px; padding: 7px 5px 5px 5px;
  .like, .dislike { @include fs(10px); @include hex(#999999); @include pointer; padding: 0 5px 0 20px; }
  .like { @include bg(image-url("icons/like.png") no-repeat); @include float-left; }
  .dislike { @include bg(image-url("icons/dislike.png") no-repeat); @include float-right; }
}

.price-box, .comment-box { @include float-left; @include fs(10px); @include hex(#4d4d4d); }
.price-box { @include centered; width: 80px; padding: 7px 0px; @include m_l(13px); border-left: 1px solid #ebebeb; border-right: 1px solid #ebebeb; }
.comment-box { width: 29px; padding: 7px 33px 7px 0px; @include m_l(8px); border-left: 1px solid #ebebeb; border-right: 1px solid #ebebeb; @include bg(image-url("icons/comment.png") no-repeat); @include bg_pos(70%, 8px); @include right; }
.add-me-box { @include float-left; @include fs(16px); @include hex(#797979); @include rel; @include bold; @include pointer;
  .unchecked { width: 57px; text-align: center; padding: 6px 0; }
  .checked { display: none; }
}

/* ******************************************** */
/* icons */
/* ******************************************** */
.ok_icon {
  @include sprite_css(ok_icon);
}

.checked_icon {
  @include sprite_css(checked_icon);
}

.flag_icon {
  @include sprite_css(flag_icon);
}

.analysis_icon {
  @include sprite_css(analysis_icon);
}

.natural_icon {
  @include sprite_css(natural_icon);
}

.improve_icon {
  @include sprite_css(improve_icon);
}

.tools_icon {
  @include sprite_css(tools_icon);
}

.elle_icon {
  @include sprite_css(elle_icon);
}

.fab_icon {
  @include sprite_css(fab_icon);
}

.oxygen_icon {
  @include sprite_css(oxygen);
}

.twitter_icon {
  @include sprite_css(twitter_icon);
}

.google_plus_icon {
  @include sprite_css(google_plus_icon);
}

.stumble_icon {
  @include sprite_css(stumble_icon);
}

.facebook_icon {
  @include sprite_css(facebook_icon);
}

.pinterest_icon {
  @include sprite_css(pinterest_icon);
}

.twitter2_icon {
  @include sprite_css(twitter2_icon);
}

.paypal_icon2 {
  @include sprite_css(paypal_icon2);
}

.norton_icon {
  @include sprite_css(norton_icon);
}

.protected_icon {
  @include sprite_css(protected_icon);
}

.arrow_icon {
  @include sprite_css(arrow);
}

/* ******************************************** */
/* Progress Bar */
/* ******************************************** */
.progress {
  @include rel;
  @include box-shadow(none);
  @include border-radius(0);
  height: 23px;
  .bar {
    @include bg(#ffaba9);
    @include box-shadow(none);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffaba9', endColorstr='#ffffaba9', GradientType=0);
  }
}

/* ******************************************** */
/* Share Button */
/* ******************************************** */
.btn-share {
  @include float-right;
  @include m_r(21px);
  @include border-radius(6);


  .btn {
    @include bg(white);
    @include bg-pos(top, left);
    border: 1px solid #ebebeb;
    @include border-radius(4px);
    @include box-shadow(none);
    @include fs(12px);
    @include lh(12px);
    @include upper;
    &:hover {
      @include bg-pos(top, left);
      //border: 1px solid #bcbcbc;
      //@include background-image(linear-gradient(top, white, #fafafa));
    }

    height: 36px;
    @include border-radius(4px);
    @include rel;
    padding: 5px 45px 5px 13px;
    @include hex(#777777);
    &:hover, &:active {
      @include bg(white);
      @include hex(#424242);
    }
    &:first-child {
      @include border-radius(0);
    }
    .caret {
      @include bg(image-url("icons/caret.png") no-repeat 50% 50%);
      @include abs_tr(0, 0px);
      @include wxh(36px, 34px);
      border: none;
      margin: 0;
      padding: 0;
      border-left: 1px solid #ebeae5;
    }
  }
  .dropdown-menu {
    right: 0px;
    left: auto;
    @include border-radius(2px);
    width: 263px;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    .addthis_toolbox {
      float: right;
      margin-right: 12px;
      }
    .social_box {
      border-bottom: 1px solid #eaeaea;
      @include hex(#4d4d4d);
      @include fs(12px);
      @include lh(20px);
      @include upper;
      padding-bottom: 8px;
      margin-bottom: 8px;
      @include float-left;
      width: 210px;
      @include m_l(16px);
      div {
        @include float-left;
      }
      .social_icon {
        margin: 8px 8px 0 0;
      }
      .counter {
        @include float-right;
        padding: 4px 12px;
        @include hex(white);
        @include fs(14px);
        @include bold;
      }
      .social_name {
        @include m_t(10px);
      }
    }
  }
}

/* ******************************************** */
/* Bg colors */
/* ******************************************** */
.turquoise_bg {
  @include bg(#00b7f1);
}

.red_bg {
  @include bg(#e04a31);
}

.red_1_bg {
  @include bg(#d50000);
}

.dark_blue_bg {
  @include bg(#39579a);
}

.soft_blue_bg {
  @include bg(#338cb6);
}

.light_blue_bg {
  @include bg(#7ba1d0);
}

/* ******************************************** */
/* Helpers */
/* ******************************************** */
.fleft {
  @include float-left;
}

.fright {
  @include float-right;
}

.clear {
  clear: both;
  @include fs(1px);
  height: 0px;
}
