---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_3Z2Fc9henKwAam",
          "livemode": false,
          "created": 1393369200,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_3Z2FbFdng2Ks0V",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2015,
            "fingerprint": "0FJgJUWQopgJgoZs",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 25 Feb 2014 23:00:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3Z2Fc9henKwAam&description=beansalad%40idealme.com&plan=1
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393369201,
          "id": "cus_3Z2FnTBRhpR7mU",
          "livemode": false,
          "description": "beansalad@idealme.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Z2FnTBRhpR7mU/subscriptions",
            "data": [
              {
                "id": "sub_3Z2FhJvzTkwlAX",
                "plan": {
                  "interval": "month",
                  "name": "Ideal Me Insider Circle 1",
                  "created": 1393018297,
                  "amount": 1995,
                  "currency": "usd",
                  "id": "1",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393369201,
                "status": "active",
                "customer": "cus_3Z2FnTBRhpR7mU",
                "cancel_at_period_end": false,
                "current_period_start": 1393369201,
                "current_period_end": 1395788401,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Z2FnTBRhpR7mU/cards",
            "data": [
              {
                "id": "card_3Z2FbFdng2Ks0V",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2015,
                "fingerprint": "0FJgJUWQopgJgoZs",
                "customer": "cus_3Z2FnTBRhpR7mU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_3Z2FbFdng2Ks0V"
        }
  recorded_at: Tue, 25 Feb 2014 23:00:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_3Z2FnTBRhpR7mU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "cust[...]
