.discover-card
  = link_to image_tag(discover.avatar.url(:full)), market_path(discover), :class => 'avatar'
  .ruby_icon
  .title
    = link_to discover.name, market_path(discover)
  .clear
  .bottom-box
    .like-box
      .like 352
      .dislike 12
      .clear
    .comment_box
      31
    .add_me_box
      .unchecked +
      .checked
    .clear