%h1 Polls

%table.table
  %tr
    %th
      ID
    %th
      Name

  - @polls.each do |poll|
    %tr
      %td= poll.id
      %td= link_to(poll.name, edit_admin_poll_path(poll))   

%br

= link_to 'New poll', new_admin_poll_path, class: 'btn'
