= form_for @affiliate_link, :url => url do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.label(:name)
  = f.text_field(:name)
  = f.label(:slug)
  = f.text_field(:slug)
  - unless @affiliate_link.persisted?
    = f.label(:tracking_tag)
    = f.text_field(:tracking_tag)
    = f.label :market_tag
    = f.text_field(:market_tag, :size => 10, :maxlength => 10)
  = f.label(:note)
  = f.text_area(:note)
  .form-actions
    = f.submit nil, :class => 'success button'
    = link_to 'Cancel', dashboard_affiliates_path, :class => 'secondary button'
