.row
  .twelve.columns
    h1
      | Affiliate statistics from
      = @from_date
      |  to
      = @to_date
    table.table
      tr
        td[width="300"]
          strong
            | Slug:
        td
          = @affiliate_link.slug
      tr
        td
          strong
            | Total units sold
          | :
        td
          = @affiliate_sales.length
      tr
        td
          strong
            | Unique clicks:
        td
          = @unique_click
      tr
        td
          strong
            | Total clicks:
        td
          = @total_click
      tr
        td
          strong
            | Total unique users:
        td
          = @unique_users.length
      tr
        td
          strong
            | Total unique users signed up:
        td
          = @unique_users_in_range.length
    table.table
      thead
        tr
          th
            | Order
          th
            | Product
          th
            | Affiliate %
          th
            | Affiliate Pay Out
          th
            | Transaction Date
      tbody
        - @affiliate_sales.each do |affiliate_sale|
          tr
            td
              = link_to("#{affiliate_sale.order.user.firstname} #{affiliate_sale.order.user.lastname}", user_path(affiliate_sale.order.user))
            td
              = link_to(affiliate_sale.order.course.name, course_path(affiliate_sale.order.course))
            td
              = number_to_percentage(affiliate_sale.course_commission_percent, :precision => 4)
            td
              = penny_to_currency(affiliate_sale.commission, :precision => 4)
            td
              = l(affiliate_sale.order.created_at)
        tr
          th
          th
          th
          th
            = penny_to_currency(@sum_commission, :precision => 4)
          th
    h2
      | Affiliate links
    table.table
      thead
        tr
          th
            | Affiliate Tracking Link Name
          th
            | Affiliate Code
      tbody
        tr
          td
            = @affiliate_link.name
          td
            - url = affiliate_link_url slug: @affiliate_link.slug
            = link_to url, url

