/* ******************************************** */
/* Course Stared page */
/* ******************************************** */
.courses-show {
  @include bg(#faf9f5);
  .promo_section {
    min-width: 1250px;
    @include bg(#c1e4de);
    margin-top: 10px;
    padding: 16px 0;
    .promo_wrapper {
      width: 1024px;
      margin: 0 auto;
    }
    .info_box {
      @include float-left;
      width: 570px;
      @include bg(image-url("icons/course_start_icon.png") no-repeat 28px 9px);
      @include p_l(170px);
    }
    .title {
      @include fs(30px);
      @include lh(40px);
      @include hex(#424242);
      @include centered;
      @include upper;
      font-weight: normal;
      margin-bottom: 8px;
      @include p_t(0);
      @include m_t(0);
    }
    .autor {
      @include fs(13px);
      @include centered;
      margin-bottom: 19px;
      @include hex(#666666);
    }
    .progress {
      @include rel;
      left: -16px;
      width: 596px;
      @include box-shadow(none);
      @include border-radius(0);
      height: 23px;
      .bar {
        @include bg(#ffaba9);
        @include box-shadow(none);
      }
    }
  }
  .main_section {
    width: 764px;
    @include m_b(15px);
  }
  .module_box {
    background: white;
    border: 1px solid #ebeae5;
    margin-left: 11px;
    margin-top: 11px;
    @include border-radius(5px);
    padding: 4px 10px;
    @include fs(12px);
    @include hex(#333333);
    h3 {
      @include fs(14px);
      @include hex(#424242);
      margin-bottom: 12px;
      margin-left: 10px;
    }
    .module {
      padding: 6px 10px;
      &:hover {
        @include bg(#fafafa);
        padding: 6px 10px;
      }
    }
    .progress {
      @include float-left;
      margin: 0;
      width: 70px;
      height: 25px;
      @include m_r(17px);
    }
    .numb {
      @include float-left;
      @include bold;
      @include m_r(28px);
      @include p_t(2px);
    }
    .module_title {
      @include float-left;
      @include p_t(3px);
    }
    .module_time {
      @include float-right;
      @include p_t(3px);
    }
  }
  .right_sidebar {
    width: 450px;
    margin-top: 11px;
    margin-left: 35px;
  }
  .tab_menu {
    margin: 0;
    list-style: none;
    li {
      @include float-left;
      @include m_r(13px);
      a {
        padding: 14px 16px 12px 16px;
        @include block;
        @include hex(#424242);
        @include fs(14px);
        @include upper;
        @include rel;
        top: 1px;
        &.active, &:hover {
          border-bottom: 2px solid #ff6766;
          text-decoration: none;
        }
      }
    }
  }
  .question_box {
    margin-top: 27px;
    border-bottom: 1px solid #ebeae5;
    margin-bottom: 24px;
    .question_field {
      width: 323px;
      @include hex(#cccccc);
      height: 26px;
      @include bg(white);
      @include fs(12px);
      @include lh(26px);
      @include m_r(20px);
      @include border-radius(0);
      border: 1px solid #ebebeb;
      @include box-shadow(none);
      @include float-left;
      margin-bottom: 21px;
    }
    .question_btn {
      @include float-left;
      @include hex(#cccccc);
      padding: 11px 18px;
      @include float-left;
      border: 1px solid #ebebeb;
    }
  }
  .comments_box {
    .comment {
      @include border-radius(2px);
      @include bg(white);
      border: 1px solid #ebeae5;
      padding: 10px 10px 5px 10px;
      @include m_b(5px);
      .user_pic {
        width: 24px;
        @include border-radius(2px);
        @include float-left;
      }
      .comment_body {
        @include float-left;
        @include m_l(13px);
        width: 380px;
        .comment_msg {
          @include float-left;
          @include fs(12px);
          .user_name {
            @include float-left;
            @include hex(#999999);
            @include m_r(13px);
            @include m_b(4px);
            @include bold;
          }
          .date {
            @include float-left;
            @include hex(#cccccc);
          }
          .msg {
            @include hex(#424242);
          }
        }
        .comment_count {
          @include float-right;
          @include bg(image-url("icons/comments_icon.png") no-repeat 0 1px);
          padding: 0px 0px 0px 20px;
          @include fs(10px);
          @include hex(#999999);
          margin-top: 9px;
          margin-right: 4px;
        }
      }
    }
  }
}
