.courses-show {
  @include bg(#faf9f5);
  .promo-section {
    min-width: 1250px;
    margin-top: 10px;
    @include p_t(16px);
    .promo-wrapper {
      width: 1024px;
      margin: 0 auto;
    }
    .info-box {
      position: relative;
      @include float-left;
      width: 570px;
      /*@include bg(image-url("icons/course_start_icon.png") no-repeat 28px 9px);*/
      @include p_l(170px);
      img.course-image {
        position: absolute;
        top: 5px;
        left: 60px;
      }
    }
    .title {
      @include fs(30px);
      @include lh(40px);
      @include hex(#4d4d4d);
      @include upper;
      font-weight: 600;
      margin-bottom: 8px;
      @include p_t(0);
      @include m_t(0);
    }
    .autor {
      @include fs(13px);
      @include hex(#777);
    }
    .progress {
      @include rel;
      left: -16px;
      width: 596px;
      @include box-shadow(none);
      @include border-radius(0);
      height: 23px;
      .bar {
        @include bg(#ffaba9);
        @include box-shadow(none);
      }
    }
  }
  .main-section {
    width: 740px;
    float: left;
    @include m_b(15px);
    @include m_r(20px);
    min-height: 480px;
    .module_box {
      background: white;
      border: 1px solid #ebeae5;
      margin-left: 11px;
      margin-top: 11px;
      @include border-radius(5px);
      padding: 4px 10px;
      @include fs(12px);
      @include hex(#333333);
      h3 {
        @include fs(18px);
        font-weight: 600;
        @include hex(#777);
        margin-bottom: 12px;
        margin-left: 10px;
      }
      .module {
        padding: 6px 10px;
        &:hover {
          @include bg(#fafafa);
          padding: 6px 10px;
        }
      }
      .module-lectures {
        ul {
          list-style-type: none;
        }
        li {
          @include m_l(19px);
        }
        a {
          color:#4d4d4d;
        }
        a:hover {
          color: #08c;
        }
      }
      .progress {
        @include float-left;
        margin: 0;
        width: 70px;
        height: 25px;
        @include m_r(17px);
      }
      .numb {
        font-size: 16px;
        @include float-left;
        font-weight: 600;
        @include m_r(28px);
        @include p_t(2px);
      }
      .module_title {
        @include float-left;
        @include p_t(3px);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #4d4d4d;
      }
      .module_time {
        @include float-right;
        @include p_t(3px);
      }
    }
  }
  .sidebar {
    width: 444px;
    margin-top: 11px;
    margin-left: 16px;
    float: left;

    .tab_menu {
      margin: 0;
      list-style: none;
      li {
        @include float-left;
        @include m_r(13px);
        a {
          @include block;
          @include hex(#777);
          @include fs(18px);
          font-weight: 600;
          @include upper;
          @include rel;
          top: 1px;
          &.active, &:hover {
            text-decoration: none;
          }
        }
      }
    }
    #rate-this-course-container {
      margin-bottom: 11px;
      padding: 10px;
      &.expanded {
        border: 1px solid #ebeae5;
        background: white;
        #review-form-container {
          display: block;
          clear: both;
          padding-top: 20px;
        }
      }
      #rate-widget-container > * {
        display: inline;
      }
      .icon-btn {
        margin: 0 3px;
        cursor: pointer;
        &[data-voted="1"] {
          color: #678f38;
        }
        &.upvote-icon-btn {
          margin-left: 40px;
        }
        &.downvote-icon-btn {
          margin-left: 20px;
        }
      }
      #review-form-container {
        display: none;
        textarea, input[type="text"] {
          width: 100%;
        }
        textarea {
          height: 130px;
        }
        & form > div {
          padding: 10px 0;
        }
        .btn-submit-review { 
          display: block;
          float: left;
          padding: 0 25px;
          width: 180px;
          height: 34px;
          background: #f16764;
          line-height: 20px;
          font-size: 14px;
          color: #ffffff;
          font-weight: 600;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
        }
        .cancel-container {
          cursor: pointer;
          float: left;
          height: 34px;
          line-height: 20px;
          padding: 7px;
          margin-left: 10px;
          font-size: 18px;
        }

      }
    }
  }
  .new-comment {
    border-bottom: 1px solid #ebeae5;
    margin-bottom: 10px;
    .comment-content {
      width: 73%;
      height: 36px;
      padding-left: 10px;
      margin-bottom: 10px;
      @include bg(white);
      @include fs(12px);
      @include lh(26px);
      @include border-radius(0);
      border: 1px solid #ebebeb;
      @include box-shadow(none);
      @include float-left;
    }
    .btn {
      @include float-left;
      padding: 7px 25px;
      @include float-left;
      background: #fafafa;
      border: 1px solid #ebebeb;
      text-transform: uppercase;
      color:#777;
    }
  }
  .comments {
    .comment {
      @include border-radius(6px);
      @include bg(white);
      border: 1px solid #ebeae5;
      padding: 10px 10px 5px 10px;
      @include m_b(5px);
      .owner-avatar {
        width: 35px;
        @include border-radius(2px);
        @include float-left;
      }
      .comment-body, .comment-reply-body {
        @include float-left;
        @include m_l(13px);
        width: 370px;
        .comment-card {
          @include float-left;
          @include fs(12px);
          .owner-name {
            @include float-left;
            @include hex(#999999);
            @include m_r(13px);
            @include m_b(4px);
            @include bold;
          }
          .comment-date {
            @include float-left;
            @include hex(#cccccc);
          }
          .comment-content {
            @include hex(#424242);
          }
        }
        .replies-count {
          @include float-right;
          @include bg(image-url("icons/comments_icon.png") no-repeat 0 1px);
          padding: 0px 0px 0px 20px;
          @include fs(10px);
          @include hex(#999999);
          margin-top: 9px;
          margin-right: 4px;
        }
      }
      .comment-reply-body {
        width: 355px;
      }
    }
    .comment-replies {
      margin-left: 15px;
      margin-top: 10px;
      .comment-reply {
        @include fs(12px);

        .owner-name {
          @include hex(#999999);
          @include m_r(13px);
          @include m_b(4px);
          @include bold;

        }
      }
    }
  }
}
