---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_3bezW6sZdFqm1Y",
          "livemode": false,
          "created": 1393974593,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_3bezNH2NeXgO96",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "0FJgJUWQopgJgoZs",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 04 Mar 2014 23:09:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3bezW6sZdFqm1Y&description=test&email=normal%40idealme.com
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393974593,
          "id": "cus_3bezMJszCjBQzv",
          "livemode": false,
          "description": "test",
          "email": "normal@idealme.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_3bezMJszCjBQzv/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3bezMJszCjBQzv/cards",
            "data": [
              {
                "id": "card_3bezNH2NeXgO96",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "0FJgJUWQopgJgoZs",
                "customer": "cus_3bezMJszCjBQzv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_3bezNH2NeXgO96"
        }
  recorded_at: Tue, 04 Mar 2014 23:09:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_3bezMJszCjBQzv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "cust[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_3bezMJszCjBQzv/subscriptions
    body:
      encoding: US-ASCII
      string: plan=1
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_3bez8XB8L6pWcp",
          "plan": {
            "interval": "month",
            "name": "Ideal Me Insider Circle 1",
            "created": 1393018297,
            "amount": 1995,
            "currency": "usd",
            "id": "1",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {}
          },
          "object": "subscription",
          "start": 1393974594,
          "status": "active",
          "customer": "cus_3bezMJszCjBQzv",
          "cancel_at_period_end": false,
          "current_period_start": 1393974594,
          "current_period_end": 1396652994,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null
        }
  recorded_at: Tue, 04 Mar 2014 23:09:59 GMT
[...]
