= form_for(@gem, url: url, html: {class: 'form-horizontal'}) do |f|
  fieldset
    #legend
      legend Gem
  = f.text_field :name
  = f.select :owner_id, User.for_select, {}, class: 'select2'
  .form-group
    .control-label
      p
        | Existing avatar
    .controls
      - if @gem.avatar.exists?
        = image_tag(@gem.avatar.url)
  = f.file_field :avatar
  = f.submit 'Save', class: 'btn btn-success'
  = link_to 'Back', admin_gems_path, class: 'btn'
