h1 Gems

table.table
  tr
    th Gem
    th Kind
    th Owner

  - @gems.each do |gem|
    tr
      td = link_to gem.name, edit_admin_gem_path(gem)
      td = link_to gem.kind_to_s
                  
      td = link_to gem.owner.fullname, edit_admin_user_path(gem.owner)

br

= link_to 'New gem', new_admin_gem_path, class: 'btn'
