---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic QWNhR19SQ0JVQWdoTHI1d1NFTkpLMG01cHoxQ3g2cV9hWExmYjN5OFpidDg0bkZhdjBKaUIwQmZlUlg0OkVKaTdMeEFVa2VSVDkzSUZzN3NKR2k1UF8tbnRoRVNqTG4tUjV5X3F5dFRVYUR4TmtWM1ZoRnFHUVJMbg==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      PayPal-Debug-Id:
      - 682f0e922214e
      Content-Type:
      - application/json
      DC:
      - origin2-api.sandbox.paypal.com
    body:
      encoding: UTF-8
      string: '{"scope":"openid https://api.paypal.com/v1/payments/.* https://api.paypal.com/v1/vault/credit-card/.*
        https://api.paypal.com/v1/vault/credit-card https://api.paypal.com/v1/developer/.*","access_token":"lV6vl-ctXRvD3dcOhGCzc1uChWzgJhcq3ZTLePj6e3k","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":28800}'
  recorded_at: Thu, 24 Oct 2013 22:25:09 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","redirect_urls":{"return_url":"https://idealme.com/paypal-return","cancel_url":"https://idealme.com/paypal-cancel"},"payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"19.99","currency":"USD"},"description":"You
        sure love the internet!"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer lV6vl-ctXRvD3dcOhGCzc1uChWzgJhcq3ZTLePj6e3k
  response:
    status:
      code: 201
      message: 
    headers:
      PayPal-Debug-Id:
      - 392e7d6921f79
      Content-Type:
      - application/json
      DC:
      - origin2-api.sandbox.paypal.com
    body:
      encoding: UTF-8
      string: '{"id":"PAY-7Y322912GX395990RKJUZ4PI","create_time":"2013-10-24T22:25:01Z","update_time":"2013-10-24T22:25:02Z","state":"created","intent":"sale","payer":{"payment_method":"paypal","payer_info":{}},"transactions":[{"amount":{"total":"19.99","currency":"USD","details":{"subtotal":"19.99"}},"description":"You
        sure love the internet!"}],"links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-7Y322912GX395990RKJUZ4PI","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-0E3345203P644803V","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-7Y322912GX395990RKJUZ4PI/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 24 Oct 2013 22:25:10 GMT
recorded_with: VCR 2.6.0
