<script type="text/javascript" language="JavaScript" src="https://www.safesitecertified.org/js/track.js" ></script>
<div style="margin: 20px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr><td valign="middle" align="center" style="padding:5px;">
      <a href="javascript:showverify_seal('https://www.safesitecertified.org/members/verify.html?url=&seal=1&location=Join_Page_2&member=5be8ea0a&page=')" name="Business ID Trust Seal" id="Business ID Trust Seal">
        <script language="JavaScript" type="text/javascript">
          <!--
          document.write('<img src="https://www.safesitecertified.org/members/identity.html?seal=1&member=5be8ea0a&location=Join_Page_2&size=2&seal_text=0&url='+trustUrl+'" alt="Identity Verified" border=0>')
          -->
        </script>
      </a>
    </td><td valign="middle" align="center" style="padding:5px;">
      <a href="javascript:showverify_seal('https://www.safesitecertified.org/members/verify.html?url=&seal=2&location=Join_Page_2&member=5be8ea0a&page=')" name="Security Trust Seal" id="Security Trust Seal">
        <script language="JavaScript" type="text/javascript">
          <!--
          document.write('<img src="https://www.safesitecertified.org/members/identity.html?seal=2&member=5be8ea0a&location=Join_Page_2&size=2&seal_text=0&url='+trustUrl+'" alt="Security Verified" border=0>')
          -->
        </script>
      </a>
    </td><td valign="middle" align="center" style="padding:5px;">
      <a href="javascript:showverify_seal('https://www.safesitecertified.org/members/verify.html?url=&seal=3&location=Join_Page_2&member=5be8ea0a&page=')" name="Privacy Trust Seal" id="Privacy Trust Seal">
        <script language="JavaScript" type="text/javascript">
          <!--
          document.write('<img src="https://www.safesitecertified.org/members/identity.html?seal=3&member=5be8ea0a&location=Join_Page_2&size=2&seal_text=0&url='+trustUrl+'" alt="Privacy Verified" border=0>')
          -->
        </script>
      </a>
    </td></tr>
  </table>
</div>
