
<div class="flowplayer" data-swf="/assets/flowplayer.swf" data-key="$324032410720287" data-ratio="0.4167">
  <video>
    <!--<source type="video/webm" src="http://stream.flowplayer.org/bauhaus/624x260.webm">-->
    <source type="video/mp4"  src="https://idealme-prod.s3.amazonaws.com/payloads/payloads/000/000/020/original/SleepHacksModule7.mp4?AWSAccessKeyId=AKIAJLDIGUPMHU2FYWPA&Expires=1383260257&Signature=M1W07PGzBAB0lgbL5CTnPH3aurw%3D">
    <!--<source type="video/ogv"  src="http://stream.flowplayer.org/bauhaus/624x260.ogv">-->
  </video>
</div>