- url = payload.payload.expiring_url(IM_S3_URL_TTL)
.flowplayer.color-dark.play-button{'data-swf' => '/assets/flowplayer.swf', 'data-key' => '$324032410720287', 'data-ratio' => "0.63"}
  %video
    %source{type: 'video/mp4', src: "#{payload.payload.expiring_url(IM_S3_URL_TTL)}"}