<table class="table table-bordered">
  <tr>
    <td width="200"><strong>Total units sold:</strong></td>
    <td><%= @affiliate_sales.length %></td>
  </tr>
  <tr>
    <td><strong>Total affiliates pay out:</strong></td>
    <td><%= penny_to_currency(@sum_commission, :precision => 4) %></td>
  </tr>
  <tr>
    <td><strong>Unique clicks:</strong></td>
    <td><%= @sum_unique_click %></td>
  </tr>
  <tr>
    <td><strong>Conversion:</strong></td>
    <td><%= number_to_percentage(@conversion, :precision => 4) %></td>
  </tr>
</table>
