.course-card {
  width: 252px;

  @include m_t(10px);
  @include m_b(10px);
  @include m_l(29px);
  @include m_r(29px);
  @include bg(white);
  border: 1px solid #ebebeb;
  @include left;
  float: left;
  .course-name {
    @include fs(12px);
    @include hex(#4b4b4b);
    @include m_t(10px);
    @include m_l(10px);
    @include m_r(10px);
    @include block;
    min-height: 40px;
  }

  .owner {
    .avatar {
      @include float-left;
      margin: 12px 10px 6px 13px;
    }
    .name {
      @include fs(12px);
      @include lh(16px);
      @include hex(#6b635b);
      @include p_t(13px);
      @include block;
    }
    .working-area {
      @include fs(10px);
      @include hex(#999999);
      @include lh(14px);
    }
  }
  .bottom-box {
    border-top: 1px solid #ebebeb;
  }
  .like-box {
    @include float-left;
    border-bottom: 2px solid #6b823c;
    width: 90px;
    padding: 7px 5px 5px 5px;
    .like {
      @include bg(image-url("icons/like.png") no-repeat);
      @include float-left;
      @include fs(10px);
      @include hex(#999999);
      @include pointer;
      padding: 0 5px 0 20px;
    }
    .dislike {
      @include bg(image-url("icons/dislike.png") no-repeat);
      @include float-right;
      @include fs(10px);
      @include hex(#999999);
      @include pointer;
      padding: 0 5px 0 20px;
    }
  }
  .price-box {
    @include float-left;
    @include fs(10px);
    @include hex(#4d4d4d);
    @include centered;
    width: 80px;
    padding: 7px 0px;
    @include m_l(13px);
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }
  .add-me-box {
    @include float-left;
    @include fs(16px);
    @include hex(#797979);
    @include rel;
    @include bold;
    @include pointer;
    .unchecked {
      width: 57px;
      text-align: center;
      padding: 6px 0;
    }
    .checked {
      display: none;
    }
  }
}

.discover-card {
  @include float-left;
  @include m_l(18px);
  @include m_r(18px);
  width: 230px;
  @include bg(white);
  border: 1px solid #ebebeb;
  @include left;
  .avatar {
    width: 230px;
    height: 190px;
    @include block;
    img {
      width: 230px;
    }
  }
  .text {
    width: 200px;
    height: 170px;
    padding: 10px;
    @include block;

  }

  .ruby-icon {
    @include sprite_css(ruby);
    @include float-left;
    margin: 1px 0px 0px 12px;
  }
  .title {
    @include fs(12px);
    @include hex(#4b4b4b);
    @include block;
    @include m_l(33px);
    @include m_r(10px);
    @include m_b(5px);
    height: 40px;
    a {
      color: #4b4b4b;
    }
  }
  .bottom-box {
    border-top: 1px solid #ebebeb;
  }

  .comment-box {
    @include float-left;
    @include fs(10px);
    @include hex(#4d4d4d);
    width: 29px;
    padding: 7px 33px 7px 0px;
    @include m_l(8px);
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    @include bg(image-url("icons/comment.png") no-repeat);
    @include bg_pos(70%, 8px);
    @include right;
  }

  .like-box {
    @include float-left;
    width: 90px;
    padding: 7px 5px 5px 5px;
    .like {
      @include bg(image-url("icons/like.png") no-repeat);
      @include float-left;
      @include fs(10px);
      @include hex(#999999);
      @include pointer;
      padding: 0 5px 0 20px;
    }
    .dislike {
      @include bg(image-url("icons/dislike.png") no-repeat);
      @include float-right;
      @include fs(10px);
      @include hex(#999999);
      @include pointer;
      padding: 0 5px 0 20px;
    }
  }
  .add-me-box {
    @include float-left;
    @include fs(16px);
    @include hex(#797979);
    @include rel;
    @include bold;
    @include pointer;
    padding: 6px 0;

    .unchecked {
      width: 57px;
      text-align: center;
    }
    .checked {
      display: none;
    }
  }

  >.modal {
    width: 600px;
    margin-left: -300px;
    top: 1%;

    >.modal-body {
      background-color: #faf9f4;
      //max-height: none;
      >.link {
        @include bg(image-url('icons/link_to.png') no-repeat);
        padding: 4px 0 4px 30px;
        @include fs(12px);
        @include hex(#333333);
        @include m_b(20px);
      }

      >.comments {
        margin: 0;
        list-style: none;
        @include rel;
        z-index: 100;
        >li {
          padding: 0 0 0 47px;
          @include bg(image-url('icons/post_mark.png') no-repeat);
          @include bg_pos(10px, 22px);
          @include m_b(8px);
          &:last-child {
            @include m_b(0px);
          }
          >.comment {
            @include m_r(35px);
            >.arrow {
              @include sprite_css(arrow_left_icon);
              width: 13px;
              @include abs_tl(18px, -13px);
            }
            @include rel;
            @include bg(white);
            @include border-radius(5px);
            border: 1px solid #ebeae5;
            padding: 15px;
            >.date {
              @include abs_tr(17px, 24px);
              @include bg(image-url('icons/time_icon.png') no-repeat 0 2px);
              @include hex(#cccccc);
              @include fs(10px);
              @include bold;
              @include p_l(17px);
            }
            >.user-avatar {
              @include float-left;
              @include wxh(30px, 30px);
              img {
                @include border-radius(10px);
              }
            }
            >.body {
              @include m_l(10px);
              >.title {
                @include hex(#424242);
                @include fs(12px);
                @include m_b(12px);
                >.user-name {
                  @include bold;
                  @include hex(#666666);
                }
              }
              >.message {
                @include bg(#f2f2f2);
                padding: 6px 10px;
                @include fs(10px);
                @include rel;
                @include m_b(8px);
              }
              >.message-arrow {
                @include sprite_css(grey_arrow_top_icon);
                @include abs_tl(-8px, 10px);
              }
              >.bottom {
                >.like {
                  @include bg(image-url('icons/like.png') no-repeat);
                  @include float-left;
                  @include fs(10px);
                  @include hex(#999999);
                  @include pointer;
                  padding: 0 5px 0 20px;
                }
                >.dislike {
                  @include bg(image-url('icons/dislike.png') no-repeat);
                  @include float-left;
                  @include fs(10px);
                  @include hex(#999999);
                  @include pointer;
                  padding: 0 5px 0 20px;
                  @include m_r(6px);
                }
                >.comment-count {
                  @include float-left;
                  @include bg(image-url('icons/comment.png') no-repeat 100% 1px);
                  padding: 0px 20px 0px 0px;
                  @include fs(10px);
                  @include hex(#999999);
                  margin-right: 13px;
                }
                >.add-comment {
                  @include fs(10px);
                  @include hex(#999999);
                  &:hover {
                    @include hex(#1d95cb);
                  }
                }
              }

            }
          }
        }
      }

    }

    .gem-title {
      @include bg(image-url('icons/ruby25x25.png') no-repeat);
      padding: 4px 0 4px 30px;
      width: 380px;
      float: left;
    }

    .add-me-box {
      @include float-left;
      @include fs(16px);
      @include hex(#797979);
      @include rel;
      @include bold;
      @include pointer;
      padding: 5px 0;
      .unchecked {
        width: 57px;
        text-align: center;
      }
      .checked {
        display: none;
      }
    }
    .like-box {
      @include float-left;
      width: 90px;
      padding: 5px 5px 5px 5px;
      .like {
        @include bg(image-url("icons/like.png") no-repeat);
        @include float-left;
        @include fs(10px);
        @include hex(#999999);
        @include pointer;
        padding: 0 5px 0 20px;
      }
      .dislike {
        @include bg(image-url("icons/dislike.png") no-repeat);
        @include float-right;
        @include fs(10px);
        @include hex(#999999);
        @include pointer;
        padding: 0 5px 0 20px;
      }
    }

  }

}

.goal-card {
  .btn {
    @include bg(white);
    @include bg-pos(top, left);
    @include border-radius(2px);
    border: 1px solid #ebebeb;
    @include box-shadow(none);
    padding: 11px 35px;
    @include hex(#4d4d4d);
    @include fs(12px);
    @include lh(12px);
    @include upper;
    &:hover {
      @include bg-pos(top, left);
      border: 1px solid #bcbcbc;
      //@include background-image(linear-gradient(top, white, #fafafa));
    }
  }
  @include float-left;
  width: 230px;
  @include bg(#fcfcfc);
  border: 1px solid #e4e4e4;
  @include border-radius(5px);
  @include m_r(9px);
  @include m_l(9px);
  @include m_b(18px);
  @include pointer;
  &:hover {
    @include bg(white);
    border-color: #c9c9c9;
  }

  .avatar {
    height: 125px;
    @include p_t(35px);
    @include centered;
  }
  .name {
    color: #666666;
    @include fs(12px);
    @include bold;
    @include centered;
    @include m_b(27px);
  }

  .bottom-box {
    @include bg(#fafafa);
    height: 55px;
    @include lh(55px);
    @include centered;

  }
  .picker {
    @include fs(36px);
  }

  .check-ins {
    @include float-left;
    width: 45px;
    padding: 10px 15px;
    @include centered;
  }
  .gems-collected {
    @include float-left;
    width: 48px;
    padding: 10px 15px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    @include centered;
  }
  .gems-created {
    @include float-left;
    width: 45px;
    @include centered;
    padding: 10px 15px;
  }
}

.goal-card-new {
  @include float-left;
  @include bg(image-url("icons/add_goal.png") no-repeat);
  width: 236px;
  height: 163px;
  @include hex(#cccccc);
  @include fs(18px);
  @include m_r(9px);
  @include m_l(9px);
  @include m_b(18px);
  @include centered;
  @include p_t(110px);
  pointer: cursor;
  &:hover {
    @include bg(image-url("icons/add_goal_on.png") no-repeat);
    @include hex(#4d4d4d);
  }
  .plus {
    @include fs(48px);
    @include p_b(15px);
  }
}
