footer {
  margin: auto;
  border-top: 1px solid #999999;
  >.container {
    text-align: center;
    >.footer-menu {
      @include m_l(15px);
      @include m_r(15px);
      @include fs(14px);
      @include hex(#999999);
    }
  }
}