header {
  >.header-content {
    width: 1250px;
    margin: auto;

    >.user-box {
      @include float-left;
      @include p_l(0);
      @include m_l(10);
      @include rel;
      >.user-avatar {
        padding: 9px;
        width: 41px;
        @include rel;
        z-index: 500;
        @include bg(white);
        &.on {
          border: 1px solid #cbcac8;
          border-bottom: none;
        }
      }
      .user-menu {
        display: none;
        @include abs_tl(58px, 0px);
        z-index: 200;
        margin: 0;
        list-style: none;
        width: 120px;
        @include bg(white);
        border: 1px solid #c9c9c9;
        padding: 5px 0;
        li {
          padding: 0 17px;
          a {
            @include block;
            @include upper;
            @include hex(#777777);
            @include fs(12px);
            @include lh(20px);
            padding: 5px 0;
            @include left;
            text-decoration: none;
          }
          &.sign-out {
            border-top: 1px solid #c9c9c9;
            margin-top: 5px;
            a {
              padding: 10px 0;
            }
          }
        }
      }
    }

    .left-menu {
      @include float-left;
      margin: 0px 0px 0 11px;
      li {
        @include float-left;
        margin: 0 10px;
        a {
          @include hex(#777777);
          @include fs(12px);
          @include lh(60px);
          @include upper;
          @include block;
          text-decoration: none;
          height: 60px;
          &:hover, &.active {
            border-bottom: 2px solid #ff6766;
          }
        }
      }
    }

    .search-box {
      @include float-right;
      width: 280px;
      @include rel;
      margin: 12px 53px 0 0;
      .search-field {
        width: 280px;
        height: 28px;
        @include bg(#fafafa);
        @include fs(12px);
        @include lh(28px);
      }
      .search-btn {
        border: none;
        @include sprite_css("search");
        @include abs_tr(9px, 0px);
      }
    }

    .logo {
      margin: 0 400px;
      a {
        @include sprite_css("logo");
        @include block;
        margin: 0px auto 0px auto;
        position: relative;
        top: -8px;
        margin: 22px auto 23px auto;
      }
      &.logged-in {
        margin: 0 400px;
        a {
          @include sprite_css("logo_small");
          margin: 0px auto 23px auto;
        }
      }
    }
    .fb-social-box {
      @include float-left;
      width: 170px;
      margin: 53px 0px 0 40px;
    }
    .sign-in-box {
      @include float-right;
      width: 170px;
      @include right;
      margin: 0;
      .btn {
        margin: 50px 22px 0 0px;
        @include bg(white);
        @include bg-pos(top, left);
        @include border-radius(2px);
        border: 1px solid #ebebeb;
        @include box-shadow(none);
        padding: 11px 35px;
        @include hex(#4d4d4d);
        @include fs(12px);
        @include lh(12px);
        @include upper;
        &:hover {
          @include bg-pos(top, left);
          border: 1px solid #bcbcbc;
          //@include background-image(linear-gradient(top, white, #fafafa));
        }
      }
    }
  }

}

.logged-in {
  header {
    @include bg(white);
    border-bottom: 1px solid #ebebeb;
  }
  .header-content {
    height: 60px;
  }
}
