header {
  >.header-content {
    width: 1250px;
    margin: auto;

    >.user-box {
      @include float-left;
      @include p_l(0);
      @include m_l(10);
      @include rel;
      cursor: pointer;
      >.user-avatar {
        padding: 12px 9px 9px 9px;
        width: 36px;
        @include rel;
        z-index: 500;
        @include bg(white);
        &.on {
          border: 1px solid #cbcac8;
          border-bottom: none;
        }
      }
      .user-menu {
        display: none;
        @include abs_tl(53px, 0px);
        z-index: 200;
        margin: 0;
        list-style: none;
        width: 150px;
        @include bg(white);
        border: 1px solid #c9c9c9;
        padding: 5px 0;
        li {
          padding: 0 17px;
          a {
            @include block;
            //@include upper;
            @include hex(#777777);
            @include fs(13px);
            @include lh(20px);
            padding: 5px 0;
            @include left;
            text-decoration: none;
          }
          &.sign-out {
            border-top: 1px solid #c9c9c9;
            margin-top: 5px;
            a {
              padding: 10px 0;
            }
          }
        }
      }
    }

    .left-menu {
      @include float-left;
      margin: 0;
      padding-left: 0;
      li {
        @include float-left;
        margin: 0 10px;
        a {
          @include hex(#777777);
          @include fs(14px);
          font-weight: 400;
          @include lh(64px);
          @include upper;
          @include block;
          text-decoration: none;
          height: 64px;
          &:hover, &.active {
            border-bottom: 3px solid #ff6766;
          }
        }
      }
    }

    .search-box {
      @include float-right;
      width: 228px;
      @include rel;
      margin: 12px 53px 0 0;
      .search-field {
        width: 200px;
        height: 22px;
        border: 1px solid #ddd;
        @include bg(#fcfcfc);
        padding-left:10px;
        @include lh(26px);
      }

      .btn {
        @include bg(white);
        @include bg-pos(top, left);
        border: 1px solid #ddd;
        @include box-shadow(none);
        padding: 11px 15px;
        @include hex(#4d4d4d);
        @include fs(12px);
        @include lh(12px);
        &:hover {
          @include bg-pos(top, left);
          border: 1px solid #bcbcbc;
        }
      }

    }

    .logo {
      margin: 0 400px;
      a {
        @include sprite_css("logo");
        @include block;
        position: relative;
        margin: -5px auto 0 auto;
        background-position: 0 -396px;
      }
      &.logged-in {
        margin: 0 400px;
        a {
          @include sprite_css("logo_small");
          margin: 0px auto 23px auto;
        }
      }
    }
    .fb-social-box {
      @include float-left;
      width: 170px;
      margin: 53px 0px 0 40px;
    }
    .sign-in-box {
      @include float-right;
      margin: 22px 53px 0 26px;
      a {
        color:#777;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
          color: #0088cc;
        }
      }
    }
    .sign-up-box {
      @include float-right;
      margin: 22px 0 0px;
      a {
        color:#777;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
          color: #0088cc;
        }
      }
    }
    .marketplace {
        margin: 22px 0px 0 10px;
      a {
        color:#777;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
          color: #0088cc;
        }
      }
    }
  }

}

.logged-in {
  header {
    @include bg(white);
    border-bottom: 1px solid #ebebeb;
  }
  .header-content {
    height: 62px;
  }
}

.logged-out {
  header {
    @include bg(white);
    border-bottom: 1px solid #ebebeb;
  }
  .header-content {
    height: 60px;
  }
}
.users-sessions-new.logged-out, .users-registrations-new.logged-out {
  header {
    background: transparent;
    border-bottom: none;
  }
  .header-content {
    height: 60px;
  }
}

header .container {
  padding-top: 0;
}
