<div class="row">
  <iframe src="//fast.wistia.net/embed/iframe/38ak5w54qy" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="900" height="704"></iframe>
</div>

<div class="row">

  <div class="col-sm-4">

    <%= link_to("https://s3.amazonaws.com/actionsidekick/setup.exe") do %>
      <button type="button" class="btn btn-lg btn-danger">Click Here To Download Your Copy Of The Action Sidekick For PC</button>
  <% end %>
    <!-- link: https://s3.amazonaws.com/actionsidekick/setup.exe  -->
  </div>

  <div class="col-sm-4">

    <%= link_to("https://s3.amazonaws.com/actionsidekick/The+Ideal+Me+Action+Sidekick.zip") do %>
      <button type="button" class="btn btn-lg btn-warning">Click Here To Download Your Copy Of The Action Sidekick For Mac</button>
  <% end %>

    <!-- link: https://s3.amazonaws.com/actionsidekick/The+Ideal+Me+Action+Sidekick.zip  -->
  </div>

  <div class="col-sm-4">

    <%= link_to("https://s3.amazonaws.com/actionsidekick/User%27s+Guide.pdf") do %>
      <button type="button" class="btn btn-lg btn-success">Click Here To Download The Action Sidekick User Manua</button>
  <% end %>

    <!-- link: https://s3.amazonaws.com/actionsidekick/User%27s+Guide.pdf  -->
  </div>
</div>
