<div class="jumbotron">
  Grab your sidekick and get organized!
</div>

<div class="row sidekick">

    <%= link_to("https://s3.amazonaws.com/actionsidekick/setup.exe") do %>
      <button type="button" class="btn btn-lg btn-danger">Action Sidekick For PC ⬇</button>
  <% end %>

<br>

    <%= link_to("https://s3.amazonaws.com/actionsidekick/The+Ideal+Me+Action+Sidekick.zip") do %>
      <button type="button" class="btn btn-lg btn-warning">Action Sidekick For Mac ⬇</button>
  <% end %>

<br>

    <%= link_to("https://s3.amazonaws.com/actionsidekick/User%27s+Guide.pdf") do %>
      <button type="button" class="btn btn-lg btn-success">Action Sidekick User Manual ⬇</button>
  <% end %>

<br>

    <%= link_to("https://s3.amazonaws.com/actionsidekick/IdealMeUnleashedGuide+(1).pdf") do %>
      <button type="button" class="btn btn-lg btn-success">Action Unleashed Productivity Guide ⬇</button>
  <% end %>

</div>
