.goals-show
  .container
    padding: 0
  .gem-header
    margin: 20px 0 !important
    .col-sm-4
      padding-left: 10px !important
      .goal-name
        font-size: 20px
        font-weight: 700
        text-transform: uppercase
        margin-left: 6px
        vertical-align: middle
        color: #4d4d4d
      img
        border: 1px solid #ebebeb
        width: 40px
        height: 40px
      i
        color: #999
        font-weight: 100
        vertical-align: middle
    .btn-new-gem
      text-transform: uppercase
      font-size: 14px
      margin-left: 8px
      padding: 8px 10px
      i
        color: #fff
        vertical-align: top
    .center-block
      margin-top: 8px

.new-gem-modal
  .modal-dialog
    -webkit-transition: none !important
    -moz-transition: none !important
    -ms-transition: none !important
    -o-transition: none !important
    transition: none !important
  .modal
    opacity: 0.9 !important
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important
    background-color: #e2e4e4
  .modal-dialog .modal-content
    opacity: 1 !important
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
    .modal-header .img
      float: left
      margin-right: 5px
    .modal-title
      font-weight: 600
      margin-top: 4px
    .modal-body
      padding: 10px 0 10px 15px
      background-color: #f7f5f1
      .row
        margin: 0
      .col-sm-10
        padding-left: 0
        input[type="text"]
          width: 105%
      .form-control
        font-size: 10px
      .btn-red
        padding: 6px 20px
        font-size: 15px
