.goals-show {
}

.goals-show .container {padding:0;}

.goals-show .gem-header {
  margin: 20px 0 !important;
}

.goals-show .gem-header .col-sm-4 {
  padding-left: 10px !important;
}

.goals-show .gem-header .col-sm-4 .goal-name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 6px;
  vertical-align: middle;
  color: #4d4d4d;
}

.goals-show .gem-header .col-sm-4 img {
  border: 1px solid #ebebeb;
  width: 40px;
  height: 40px;  
}

.goals-show .gem-header .col-sm-4 i {
  color:#999;
  font-weight: 100;
  vertical-align: middle;
}

.goals-show .gem-header .btn-new-gem {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 8px;
  padding: 8px 10px; 
}

.goals-show .gem-header .btn-new-gem i {
  color: #fff; 
  vertical-align: top;
}

.goals-show .gem-header .center-block {
   margin-top: 8px;  
}


.new-gem-modal .modal-dialog {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.new-gem-modal .modal {
  opacity: 0.9 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
  background-color: #e2e4e4;  
}

.new-gem-modal .modal-dialog .modal-content {
  opacity: 1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.new-gem-modal .modal-dialog .modal-content .modal-body {
  padding: 10px 0 10px 15px;
   background-color: #f7f5f1;
}

.new-gem-modal .modal-dialog .modal-content .modal-body .row {
  margin: 0;
}

.new-gem-modal .modal-dialog .modal-content .modal-body .col-sm-8 {
  padding: 0;
}
