---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=2&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_3SPV8AUBvvkCL0",
          "livemode": false,
          "created": 1391841219,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_3SPVg2fq4NbC34",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2015,
            "fingerprint": "adcbPuk35jH4k4c8",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sat, 08 Feb 2014 06:33:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3SPV8AUBvvkCL0&description=beansalad%40idealme.com
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Sat, 08 Feb 2014 06:33:40 GMT
recorded_with: VCR 2.8.0
