.jewels-index
  .gem-header
    margin: 10px 0
    .btn-new-gem
      margin-left: 12px
      font-size: 14px
  .gem-grid
    padding: 5px
    .gem-card
      vertical-align: top
      .gem-name
        height: 54px
        padding: 10px
        font-size: 12px
  .new-gem-modal, .edit-gem-modal
    input[type="text"]
      width: 80%
    & > .row > div
      margin: 8px 0
    .gem-submit-btn-container
      text-align: right

    .modal-body
      background-color: #FBFAF4
    .modal-footer 
      margin-top: 0
      p
        text-align: left
        font-size: 12px
        margin: 0

