Hello <%= @salutation %>,<br/>

<p> It’s Brittany Lynch, Ideal Me founder, and welcome to the <i><b>Ideal Me Insider Circle</b></i>.</p>

<p> Nice job taking advantage of your special offer. We are processing your order now and you can expect to receive the <i><b>BONUS $97 Action Mind Maps</b></i> in <i><b>15-21 business days</b></i> . </p>

<p>To <i><b>activate your Ideal Me membership</b></i>, please follow the simple steps below: </p>

<p>STEP 1: Create a username and password for your Insider Circle account here. [LINK] </p>

<P> STEP 2: CHARLIE — WHAT ELSE NEEDS TO HAPPEN? </p>

<P>This email will give you all the details you need to <i><b>activate your Ideal Me membership</b></i> and <i><b>access your FIRST weekly series</b></i>. </p>

<p> I’m so excited you’re now a member of the Ideal Me community, and I can’t wait to see YOU kick ass at your Ideal Me adventure. </p>

<p> Cheers, </p>
<br>
<br> Brittany Lynch</br>
<br> Ideal Me </br>

<p>P.S. If you have any questions please do not hesitate to email our support team at info@idealme.com or give us a call at 1-844-IDEAL ME (a.k.a. 1-844-433-2563).</p>