Hello <%= @salutation %>,<br/>

<p>It’s Brittany Lynch, Ideal Me founder, and thanks for saying YES to the <i><b>Design Your Ideal Life</b></i> workbook.</p>

<p>And nice job claiming your FREE copy of the $47 print edition. It’ll be a go-to resource for you as you start your Ideal Me adventure, and I think you’re going to love what’s in store. </p>

<p>Our Ideal Me Team is processing your order now, and you can expect your workbook to be shipped to you in the next 15-21 business days. </p>

<p>You’ll get reverse-engineering hacks to help you get clear on your Ideal Me vision. PLUS, the calendaring tools will help you take action on your goals right away. </p>

<p>If you have any questions please do not hesitate to email our support team at info@idealme.com or give us a call at 1-844-IDEAL ME (a.k.a. 1-844-433-2563).</p>

<p> Cheers, </p>
<br>
<br> Brittany Lynch</br>
<br> Ideal Me </br>