Hello <%= @salutation %>,<br/>
Thanks for your recent order for the <i><b>Design Your Ideal Life</b></i> workbook
<p>
Order Details
</p>

<p>
Order #<%= @order_number %><br/>

Placed on <%= @order_date %>
</p>

<p>
This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
</p>
