.goal_box
  //.lose_weight_icon
  .goal_icon
    = image_tag goal.avatar.url(:full)
  .goal_name
    = goal.name
  .bottom_box
    .check_ins
      .counter 0
      check ins
    .gems_collected
      .counter 0
      gems collected
    .gems_created
      .counter 0
      gems created
    .clear