---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=normal%40idealme.com
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1391841155,
          "id": "cus_3SPUsSTedxaB4E",
          "livemode": false,
          "description": "normal@idealme.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_3SPUsSTedxaB4E/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_3SPUsSTedxaB4E/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Sat, 08 Feb 2014 06:32:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=99700&currency=usd&customer=cus_3SPUsSTedxaB4E
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Cannot charge a customer that has no active card",
            "type": "card_error",
            "param": "card",
            "code": "missing"
          }
        }
  recorded_at: Sat, 08 Feb 2014 06:32:35 GMT
recorded_with: VCR 2.8.0
