.container
  .main-section
    %h1 
      Give feedback        
    %p
      It's all about goals! Our goal is to make the best product to help you reach yours! To help us improve Ideal Me, we want to hear your ideas and get your feedback on the product...
    = render partial: 'form'
