---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3Z6QyyofnUhZjL&description=beansalad%40idealme.com
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393384731,
          "id": "cus_3Z6QEkcpgpP5bv",
          "livemode": false,
          "description": "beansalad@idealme.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_3Z6QEkcpgpP5bv/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Z6QEkcpgpP5bv/cards",
            "data": [
              {
                "id": "card_3Z6QgdICj8z8XA",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "0FJgJUWQopgJgoZs",
                "customer": "cus_3Z6QEkcpgpP5bv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_3Z6QgdICj8z8XA"
        }
  recorded_at: Wed, 26 Feb 2014 03:18:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=700&currency=usd&customer=cus_3Z6QEkcpgpP5bv
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3Z6QOubXpk14e2",
          "object": "charge",
          "created": 1393384732,
          "livemode": false,
          "paid": true,
          "amount": 700,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_3Z6QgdICj8z8XA",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "0FJgJUWQopgJgoZs",
            "customer": "cus_3Z6QEkcpgpP5bv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_3Z6QYBATrcek8U",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3Z6QEkcpgpP5bv",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Wed, 26 Feb 2014 03:18:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_3Z6QEkcpgpP5bv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "cust[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_3Z6QEkcpgpP5bv/subscriptions
    body:
      encoding: US-ASCII
      string: plan=1
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_3Z6Q6z1V22ua4R",
          "plan": {
            "interval": "month",
            "name": "Ideal Me Insider Circle 1",
            "created": 1393018297,
            "amount": 1995,
            "currency": "usd",
            "id": "1",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {}
          },
          "object": "subscription",
          "start": 1393384736,
          "status": "active",
          "customer": "cus_3Z6QEkcpgpP5bv",
          "cancel_at_period_end": false,
          "current_period_start": 1393384736,
          "current_period_end": 1395803936,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null
        }
  recorded_at: Wed, 26 Feb 2014 03:19:00 GMT
recorded_with: VCR 2.8.0
