<h2>Affiliate Video</h2>
<% if @swipe.swipe_affiliate_video.path %>
    <a style="display:block;width:620px;height:460px" id="video"></a>
    <% url = @swipe.swipe_affiliate_video.path %>
    <% url.slice!(0) %>
    <% s = AWS::CF::Signer.sign_path(url).gsub('&', '%26').gsub('=', '%3D') %>
    <script>
        flowplayer("video", "<%= asset_path 'flowplayer-3.2.14.swf' %>", {
            plugins: {rtmp: {url: "<%= asset_path 'flowplayer.rtmp-3.2.11.swf' %>", netConnectionUrl: "rtmp://streaming.ideal.me/cfx/st"}},
            clip: {autoPlay: true, autoBuffering: true, provider: 'rtmp', url: 'mp4:<%= raw s %>', ipadUrl: '<%= u @swipe.swipe_affiliate_video.expiring_url(1800) %>'}
        }).ipad();
    </script>
<% else %>
    <p>The product owner did not uploaded a video.</p>
<% end %>