---
http_interactions:
- request:
    method: get
    uri: http://www.youtube.com/watch?v=ihxYRUiYz3s
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"><head><script>var
        ytcsi = {gt: function(n) {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n]
        = {tick: {},span: {},info: {}});},tick: function(l, t, n) {ytcsi.gt(n).tick[l]
        = t || +new Date();},span: function(l, s, n) {ytcsi.gt(n).span[l] = (typeof
        s == 'number') ? s :+new Date() - ytcsi.data_.tick[l];},info: function(k,
        v, n) {ytcsi.gt(n).info[k] = v;}};(function() {var perf = window['performance']
        || window['mozPerformance'] ||window['msPerformance'] || window['webkitPerformance'];ytcsi.tick('_start',
        perf ? perf['timing']['responseStart'] : null);})();if (document.webkitVisibilityState
        == 'prerender') {ytcsi.info('prerender', 1);document.addEventListener('webkitvisibilitychange',
        function() {ytcsi.tick('_start');}, false);}try {ytcsi.pt_ = (window.chrome
        && chrome.csi().pageT ||window.gtbExternal && gtbExternal.pageT() ||window.external
        && external.pageT);if (ytcsi.pt_) {ytcsi.info('pt', Math.floor(ytcsi.pt_));}}
        catch(e) {}</script>    <script>var ytimg = {};ytimg.count = 1;ytimg.preload
        = function(src) {var img = new Image();var count = ++ytimg.count;ytimg[count]
        = img;img.onload = img.onerror = function() {delete ytimg[count];};img.src
        = src;};</script>\n\n  <link id=\"css-344564990\" class=\"www-core\" rel=\"stylesheet\"
        href=\"//s.ytimg.com/yts/cssbin/www-core-vfl4DqC20.css\" data-loaded=\"true\">\n<script>if
        (window.ytcsi) {window.ytcsi.tick(\"ce\", null, '');}</script>  \n      <script>\n
        \   ytimg.preload(\"http:\\/\\/r4---sn-a5m7ln7k.googlevideo.com\\/crossdomain.xml\");\n
        \   ytimg.preload(\"http:\\/\\/r4---sn-a5m7ln7k.googlevideo.com\\/generate_204\");\n
        \ </script>\n\n\n  <script>\ntry {var ytbuffer = {};ytbuffer.bufferedClick;ytbuffer.handleClick
        = function(e) {var element = e.target || e.srcElement;while (element.parentElement)
        {if (element.className.match(/^yt-can-buffer$|^yt-can-buffer | yt-can-buffer$|
        yt-can-buffer /)) {ytbuffer.bufferedClick = e;element.className += ' yt-is-buffered';break;}element
        = element.parentElement;}};if (document.addEventListener) {document.addEventListener('click',
        ytbuffer.handleClick);} else {document.attachEvent('onclick', ytbuffer.handleClick);}}
        catch(e) {}  </script>\n<title>The Wind Waker - Hey Ash Whatcha Playin&#39;?
        (WiiU Challenge) - YouTube</title><link rel=\"search\" type=\"application/opensearchdescription+xml\"
        href=\"http://www.youtube.com/opensearch?locale=en_US\" title=\"YouTube Video
        Search\"><link rel=\"shortcut icon\" href=\"http://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico\"
        type=\"image/x-icon\">     <link rel=\"icon\" href=\"//s.ytimg.com/yts/img/favicon_32-vflWoMFGx.png\"
        sizes=\"32x32\"><link rel=\"canonical\" href=\"http://www.youtube.com/watch?v=ihxYRUiYz3s\"><link
        rel=\"alternate\" media=\"handheld\" href=\"http://m.youtube.com/watch?v=ihxYRUiYz3s\"><link
        rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://m.youtube.com/watch?v=ihxYRUiYz3s\"><link
        rel=\"shortlink\" href=\"http://youtu.be/ihxYRUiYz3s\">      <meta name=\"title\"
        content=\"The Wind Waker - Hey Ash Whatcha Playin&#39;? (WiiU Challenge)\">\n\n
        \     <meta name=\"description\" content=\"This is our vid for Nintendo&#39;s
        WiiU Video Challenge 2K13 #Nintendo #WiiU #Zelda #WindWaker #HD #eSports #noscope
        #YOLO #TriforceHustlin #MoRupeesMoProblems T...\">\n\n      <meta name=\"keywords\"
        content=\"Whatcha Playin&#39;? The Legend Of Zelda: The Wind Waker (Video
        Game) Hey Ash, Whatcha Playin&#39;? HAW[...]
- request:
    method: get
    uri: http://i1.ytimg.com/vi/ihxYRUiYz3s/maxresdefault.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Thu, 01 Jan 1970 00:23:05 GMT
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAUDBAgHBwgIBwgGBQgGBggHBwcH
        CAcFBQUFBQgGBwUFBQYHChALBwgOCQUFDBUMDhERExMTBwsWGBYSGBASExIB
        BQUFCAcIDgcHDRIIBwgSEhISEhISEhISEhISEhISEhISEhISEhISEhISEhIS
        EhISEhISEhISEhISEhISEhISEv/AABEIAtAFAAMBIgACEQEDEQH/xAAdAAAD
        AQEBAQEBAQAAAAAAAAAAAgMEBQYHAQgJ/8QAWxAAAgECAgcEBAoHAwcLAgUF
        AAID[...]
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?key=afb72ff295f0459286495f3a2483cea1&maxheight=525&maxwidth=525&urls=http://www.youtube.com/watch?v=ihxYRUiYz3s
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"86caf673d3526f14a8944aa2bc8220665bd44303"'
      X-Embedly-From-Cache:
      - '0'
      X-Embedly-Host:
      - unearth14
      X-Embedly-Process-Time:
      - '30'
    body:
      encoding: UTF-8
      string: '[{"provider_url": "http://www.youtube.com/", "description": "This is
        our vid for Nintendo''s WiiU Video Challenge 2K13 #Nintendo #WiiU #Zelda #WindWaker
        #HD #eSports #noscope #YOLO #TriforceHustlin #MoRupeesMoProblems TY 2 Nintendo
        for The Legend of Zelda: The Wind Waker HD, a production stipend, and permission
        to use Nintendo video, audio and images for this challenge.", "title": "The
        Wind Waker - Hey Ash Whatcha Playin''? (WiiU Challenge)", "url": "http://www.youtube.com/watch?v=ihxYRUiYz3s",
        "author_name": "HAWPOfficial", "height": 295, "thumbnail_width": 480, "width":
        525, "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FihxYRUiYz3s%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DihxYRUiYz3s&image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FihxYRUiYz3s%2Fhqdefault.jpg&key=afb72ff295f0459286495f3a2483cea1&type=text%2Fhtml&schema=youtube\"
        width=\"525\" height=\"295\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
        "author_url": "http://www.youtube.com/user/HAWPOfficial", "version": "1.0",
        "provider_name": "YouTube", "thumbnail_url": "http://i1.ytimg.com/vi/ihxYRUiYz3s/hqdefault.jpg",
        "type": "video", "thumbnail_height": 360}]'
  recorded_at: Tue, 07 Jan 2014 14:53:11 GMT
recorded_with: VCR 2.8.0
