.promo-section
  .flexslider
    %ul.slides
      - @sliders.each do |market|
        %li
          .slide-wrapper
            %h3.market-name
              = market.name
            %p.owner-name 
              %em by 
              = market.course.owner.fullname
            = link_to 'ABOUT THIS COURSE', market_path(market), :class => 'btn btn-arrow'

.container
  %h3.section-header 
    Recommended for you
  - @markets.each do |market|
    =render :partial => 'partials/course_card', :locals => {:market => market}
  .clear

.container
  %h3.section-header 
    Trending
  - @markets.each do |market|
    =render :partial => 'partials/course_card', :locals => {:market => market}
  .clear    
          
.container
  %h3.section-header 
    New and noteworthy
  - @markets.each do |market|
    =render :partial => 'partials/course_card', :locals => {:market => market}
  .clear