.promo_section
  .flexslider
    %ul.slides
      -5.times do 
        %li
          .slide_wrapper
            %h3.title
              5 PILLARS OF SUCCESS: LIFE HACKS THAT HELP YOU ACHIEVE ANYTHING
            %p.autor 
              %em by 
              Donna Kretch    
            .btn.btn-arrow
              ABOUT THIS COURSE
  .clear
.offer_section
  %h3.section_header RECOMMENDED FOR YOU
  %table
    %tr
      -4.times do
        %td
          .offer_card
            %a{:href => "#"} 
              =image_tag 'recomandation_img.png'
            %a.offer_title{:href => "#"} Negotiate a Lower Rent
            .vendor
              .vendor_pic 
                %a{:href => "#"} 
                  =image_tag 'vendor.png'
              %a.vendor_name{:href => "#"} Jen Snow
              .vendor_working_area Lifecoach - Mother - Guru
              .clear
            .bottom_box
              .like_box
                .like 352 
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
.offer_section
  %h3.section_header TRENDING
  %table
    %tr
      -4.times do
        %td
          .offer_card
            %a{:href => "#"} 
              =image_tag 'recomandation_img.png'
            %a.offer_title{:href => "#"} Negotiate a Lower Rent
            .vendor
              .vendor_pic 
                %a{:href => "#"} 
                  =image_tag 'vendor.png'
              %a.vendor_name{:href => "#"} Jen Snow
              .vendor_working_area Lifecoach - Mother - Guru
              .clear
            .bottom_box
              .like_box
                .like 352 
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
.offer_section
  %h3.section_header NEW AND NOTEWORTHY
  %table
    %tr
      -4.times do
        %td
          .offer_card
            %a{:href => "#"} 
              =image_tag 'recomandation_img.png'
            %a.offer_title{:href => "#"} Negotiate a Lower Rent
            .vendor
              .vendor_pic 
                %a{:href => "#"} 
                  =image_tag 'vendor.png'
              %a.vendor_name{:href => "#"} Jen Snow
              .vendor_working_area Lifecoach - Mother - Guru
              .clear
            .bottom_box
              .like_box
                .like 352 
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked