.promo_section
  .flexslider
    %ul.slides
      - @sliders.each do |market|
        %li
          .slide_wrapper
            %h3.title
              = market.name
            %p.autor 
              %em by 
              = market.course.owner.fullname
            = link_to 'ABOUT THIS COURSE', market_path(market), :class => 'btn btn-arrow'

  .clear
.offer_section
  %h3.section_header RECOMMENDED FOR YOU
  %table
    - while (@markets.length != 0) do
      - @batch = @markets.shift(4)
      %tr
        - @batch.each do |market|
          %td
            =render :partial => 'markets/partials/tile', :locals => {:market => market}

-#.offer_section
-#  %h3.section_header TRENDING
-#  %table
-#    %tr
-#      -4.times do
-#        %td
-#          .offer_card
-#            %a{:href => "#"}
-#              =image_tag 'recomandation_img.png'
-#            %a.offer_title{:href => "#"} Negotiate a Lower Rent
-#            .vendor
-#              .vendor_pic
-#                %a{:href => "#"}
-#                  =image_tag 'vendor.png'
-#              %a.vendor_name{:href => "#"} Jen Snow
-#              .vendor_working_area Lifecoach - Mother - Guru
-#              .clear
-#            .bottom_box
-#              .like_box
-#                .like 352
-#                .dislike 12
-#                .clear
-#              .price_box
-#                $26.96
-#              .add_me_box
-#                .unchecked +
-#                .checked
-#.offer_section
-#  %h3.section_header NEW AND NOTEWORTHY
-#  %table
-#    %tr
-#      -4.times do
-#        %td
-#          .offer_card
-#            %a{:href => "#"}
-#              =image_tag 'recomandation_img.png'
-#            %a.offer_title{:href => "#"} Negotiate a Lower Rent
-#            .vendor
-#              .vendor_pic
-#                %a{:href => "#"}
-#                  =image_tag 'vendor.png'
-#              %a.vendor_name{:href => "#"} Jen Snow
-#              .vendor_working_area Lifecoach - Mother - Guru
-#              .clear
-#            .bottom_box
-#              .like_box
-#                .like 352
-#                .dislike 12
-#                .clear
-#              .price_box
-#                $26.96
-#              .add_me_box
-#                .unchecked +
-#                .checked