<div class="row">
  <div class="twelve columns">
    <h1>Swipe Files</h1>
    <table class="twelve">
      <thead>
      <tr>
        <th>Course</th>
      </tr>
      </thead>
      <tbody>
      <% @swipes.each do |swipe| %>
          <tr>
            <td><%= link_to swipe.name, dashboard_swipe_path(swipe) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
