.row
  .twelve.columns
    h1
      | Swipe Files
    table.twelve
      thead
        tr
          th
            | Course
      tbody
        - @swipes.each do |swipe|
          tr
            td
              = link_to swipe.name, dashboard_swipe_path(swipe)
