.offer_section .offer_title {
  min-height: 40px;
}

.markets_index .promo_section {
  margin-top: 0px;
}

.offer_title {
  margin: 0px;
}

.markets_show .promo_section {
  margin: 0px;
}

.markets_show .instructor_box .instructor_name {
  text-align: center;
  width: 250px;
  padding-left: 10px;
}

.modal_title3 {
  padding: 20px 0 20px 0;
}

.footer_menu {
  top: 100px;
  width: 370px;
}