/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

// Import all compass sheets
@import "compass";
@import "compass/css3";
@import "compass/utilities";
// Import all compass sprites
@import "icons/*.png";
// Import Bootstrap
@import "twitter/bootstrap";
@import "font-awesome";

* {
  font-family: 'Open Sans', sans-serif ;
}

body {
   background: #FBFAF4 !important;
}


strong {
  font-weight: 600;
}

img {
  border-radius: 4px;
}


.alert  {
  margin: 8px 462px;
}

.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

// pulled in from old bootstrap_and_overrides





// Element
@import "elements/fonts";
@import "elements/base";
@import "elements/typography";
@import "elements/buttons";
// PAGES
@import "pages/global";
@import "global";
//
@import "shared/cards";
@import "shared/header";
@import "shared/footer";
//
@import "markets/index";
@import "markets/show";
//
@import "courses/show";
//
@import "discovers/index";
//
@import "landings/index";
//
@import "users/profile";
@import "users/welcome";
@import "users/sessions/new";
//
@import "orders/new";
@import "orders/create";
//
@import "goals/show";
// Gem imports
@import "select2";
@import "flexslider";
@import "formatted_form";
@import "jquery.ui.all";
@import "bootstrap-tour";
//@import "responsive";
@import "new-style";

@import "admin/courses";

@import "flowplayer/minimalist";
@import "lectures/show";

@import 'expanding-text';

@import "admin/lectures";
@import "admin";
@import "dashboard";

@import "datepicker";
@import "forms";
//

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.admin {
  .btn {
    margin-right: 10px;
    // border-radius: 0px;
    // //@include bg(white);
    // @include bg-pos(top, left);
    // border: 1px solid #ebebeb;
    // @include box-shadow(none);
    // padding: 4px 12px;
    // @include hex(#4d4d4d);
    // @include fs(12px);
    // @include lh(12px);
    // @include upper;
    // &:hover {
    //   @include bg-pos(top, left);
    //   border: 1px solid #bcbcbc;
    // }
  }

  .controls.inline .form-group {
    display: inline-block;
    vertical-align: top;
    .help-inline {
      display: block;
    }
    .control-label {
      width: 90px;
    }
    .controls {
      margin-left: 100px;
      input[type='text'] {
        width: 150px;
      }
      textarea {
        width: 400px;
        height: 600px;
      }
    }
  }

}

.feedbacks-new, .feedbacks-edit, .feedbacks-create {
  >.body-content {
    >.container {
      >.main-section {
        width: 750px;
        margin: auto;
        >h1 {
          text-align: center;
        }
        label {
          float: left;
          padding-left: 10px;
          padding-right: 20px;
          font-weight: 600;
        }
        input[type="radio"] {
          float: left;
        }
        textarea {
          width: 100%;
        }
        .btn {
          @include bg(white);
          @include bg-pos(top, left);
          @include border-radius(2px);
          border: 1px solid #ebebeb;
          @include box-shadow(none);
          padding: 11px 35px;
          @include hex(#4d4d4d);
          @include fs(12px);
          @include lh(12px);
          @include upper;
          &:hover {
            @include bg-pos(top, left);
            border: 1px solid #bcbcbc;
          }
        }

        .btn-red {
          border: none;
          @include border-radius(4px);
          @include bg(#f16764);
          @include fs(14px);
          @include lh(14px);
          @include upper;
          @include centered;
          padding: 12px 95px;
          @include hex(white);
          @include text-shadow(none);
          &:hover {
            border: none;
            @include bg(#fa7977);
            @include hex(white);
          }
        }
      }

    }
  }
}

.cms-about-card {
  margin-bottom: 40px;
  p { color: #4D4D4D; font-size: 20px; line-height: 32px; }
  .cms-about-title { width: 600px; }
  .cms-about-image { text-align: center; width: 250px; }
}

.cms-customer-care-contact-phone {
  background: image-url("icons/phone.png") no-repeat -6px -6px;
  padding: 20px 0 20px 70px;
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 600;
  margin-bottom: 16px;
}

.cms-customer-care-contact-email {
  background: image-url("icons/email.png") no-repeat 0 0;
  padding: 24px 0 22px 75px;
  font-size: 18px;
  color: #1d95cb;
  font-weight: 600;
  margin-bottom: 18px;
  display: block;
}

.cms-thin-container {
  padding-top: 5px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  ul, ol { list-style: none outside none; }
  h1, h2 {
    text-align: center;
    line-height: 40px;
  }
  h4 { font-weight: normal; }
}

.cms-wide-container {
  padding-top: 20px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  >h1, >h2 {
    text-align: center;
    line-height: 40px;
  }
}

.goals-archived {
  >.body-content {
    >.container {
      width: 600px;
      >h1 {
        text-align: center;
        font-size: 25px;
      }

      >.archived-goals {
        >.archived-goal {
          border-top: 1px solid #e4e4e4;
          padding-top: 3px;
          padding-bottom: 3px;

          >.name {
            width: 500px;
            float: left;
            font-weight: 600;

          }
          >.control {
            width: 70px;
            float: right;

            .btn {
              @include bg(white);
              @include bg-pos(top, left);
              @include border-radius(2px);
              border: 1px solid #ebebeb;
              @include box-shadow(none);
              @include hex(#4d4d4d);
              @include lh(12px);
              &:hover {
                @include bg-pos(top, left);
                border: 1px solid #bcbcbc;
              }
            }

            .btn-red {
              border: none;
              @include bg(#f16764);
              @include lh(14px);
              @include centered;
              padding: 2px 5px;
              @include hex(white);
              @include text-shadow(none);
              &:hover {
                border: none;
                @include bg(#fa7977);
                @include hex(white);
              }
            }

          }

        }

        >.archived-goal:last-child {

          border-bottom: 1px solid #e4e4e4;

        }
      }
    }
  }
}

.searches-index {
  >.body-content {
    >.container {
      >.course-card, >.discover-card {
        width: 230px;
        margin: 9px;
        >.bottom-box {
          >.price-box {
            width: 58px;
          }
        }
      }
    }
  }
}

.environment-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: 600;
  background-color: yellow;
  color: red;
  padding: 10px;
  border: 1px solid black;
}

.lecture-icon-container {
  margin-right: 36px;
}
