/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery.ui.all
 *= require flexslider
 *= require formatted_form
 *= require_self
 *= require additions
 */
/* line 234, icons/*.png */
.icons-sprite, .logo a, .logo.logged_in a, .search_box .search_btn, .footer_bg, .ok_icon, .checked_icon, .flag_icon, .analysis_icon, .natural_icon, .improve_icon, .tools_icon, .elle_icon, .fab_icon, .oxygen_icon, .testimonials_section .testimonial_container .testimonial_box .arrow, .discover .offer_card .ruby_icon {
  background: image-url("icons-se6719107a9.png") no-repeat;
}

/* ******************************************** */
/* Typography */
/* ******************************************** */
/* line 5, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_typography.sass */
h1 {
  font-size: 28px;
  line-height: 21px;
}

/* line 8, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_typography.sass */
h2 {
  font-size: 20px;
  line-height: 21px;
}

/* line 11, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_typography.sass */
h3 {
  font-size: 18px;
  line-height: 21px;
}

/* ******************** LISTS ********************** */
/* line 15, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_typography.sass */
.list_1 {
  list-style: none;
  margin: 0;
}

/* line 18, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_typography.sass */
.list_1 li {
  padding: 15px 0px 15px 40px;
  background: image-url("icons/list_1.png") no-repeat 6px 18px;
}

/* ******************************************** */
/* Buttons page */
/* ******************************************** */
/* line 5, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn {
  background: white;
  background-position: top left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 11px 35px;
  color: #4d4d4d;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

/* line 16, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn:hover {
  background-position: top left;
  border: 1px solid #bcbcbc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(top, #ffffff, #fafafa);
  background-image: -moz-linear-gradient(top, #ffffff, #fafafa);
  background-image: -o-linear-gradient(top, #ffffff, #fafafa);
  background-image: linear-gradient(top, #ffffff, #fafafa);
}

/* line 20, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-arrow, .btn-arrow:hover {
  background-image: image-url("icons/btn_arrow.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

/* line 24, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-black {
  background: #333333;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 22px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* line 34, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-black:hover {
  background: #4d4d4d;
}

/* line 36, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-round {
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
}

/* line 38, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-red {
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #f16764;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 95px;
  color: white;
  text-shadow: none;
}

/* line 49, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-red:hover {
  border: none;
  background: #fa7977;
  color: white;
}

/* line 53, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-red.btn-arrow, .btn-red.btn-arrow:hover {
  font-size: 12px;
  padding: 16px 16px;
  width: 230px;
  margin: 65px 0 40px 0;
  padding: 16px 16px;
  text-align: left;
  background-image: image-url("icons/btn_arrow_red.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

/* line 64, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-group .btn {
  border: 1px solid #cccccc;
  color: #666666;
  font-size: 12px;
  text-transform: none;
  padding: 5px 30px;
}

/* line 70, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_buttons.sass */
.btn-group .btn:hover, .btn-group .btn.flex-active {
  border: 1px solid #cccccc;
  background: #ff6766;
  color: white;
  text-shadow: none;
}

/* ******************************************** */
/* Header */
/* ******************************************** */
/* line 5, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
header {
  min-width: 1250px;
}

/* line 7, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.social_box {
  display: inline;
  float: left;
  width: 170px;
  margin: 53px 0px 0 40px;
}

/* line 11, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.user_box {
  display: inline;
  float: left;
  padding: 5px;
  padding-left: 0;
  margin-top: 12px;
  margin-left: 28px;
}

/* line 17, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.user_box.on {
  border: 1px solid #cbcac8;
  border-bottom: none;
}

/* line 20, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.user_box .user_menu {
  display: none;
}

/* line 22, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.left_menu {
  display: inline;
  float: left;
  margin: 8px 0px 0 11px;
}

/* line 25, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.left_menu li {
  display: inline;
  float: left;
  margin: 0 10px;
}

/* line 28, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.left_menu li a {
  color: #777777;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  height: 60px;
}

/* line 36, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.left_menu li a:hover, .left_menu li a.active {
  border-bottom: 2px solid #ff6766;
}

/* Logo */
/* line 39, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.logo {
  margin: 0 400px;
}

/* line 41, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.logo a {
  background-position: 0 -398px;
  height: 75px;
  width: 196px;
  display: block;
  margin: 22px auto 23px auto;
}

/* line 45, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.logo.logged_in {
  margin: 0 400px;
}

/* line 47, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.logo.logged_in a {
  background-position: 0 -328px;
  height: 70px;
  width: 180px;
  margin: 0px auto 23px auto;
}

/* line 50, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.sing_in_box {
  display: inline;
  float: right;
  width: 170px;
  text-align: right;
  margin: 0;
}

/* line 55, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.sing_in_box .btn {
  margin: 50px 22px 0 0px;
}

/* line 57, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.search_box {
  display: inline;
  float: right;
  width: 280px;
  position: relative;
  margin: 19px 53px 0 0;
}

/* line 62, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.search_box .search_field {
  width: 280px;
  color: #cccccc;
  height: 28px;
  background: #fafafa;
  font-size: 12px;
  line-height: 28px;
}

/* line 69, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.search_box .search_btn {
  border: none;
  background-position: 0 -746px;
  height: 18px;
  width: 18px;
  top: 9px;
  right: 0px;
  position: absolute;
}

/* ******************************************** */
/* Header logged In */
/* ******************************************** */
/* line 77, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_header.sass */
.logged_in header {
  background: white;
  min-width: 1250px;
  border-bottom: 1px solid #ebebeb;
  height: 70px;
}

/* ******************************************** */
/* Footer */
/* ******************************************** */
/* line 5, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_footer.sass */
footer {
  background: #f6f6f8;
  min-width: 1250px;
}

/* line 8, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_footer.sass */
.footer_bg {
  background-position: 0 -227px;
  height: 78px;
  width: 798px;
  position: relative;
  margin: 73px auto 60px auto;
}

/* line 12, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_footer.sass */
.footer_menu {
  list-style: none;
  z-index: 100;
  left: 50%;
  top: 103px;
  position: absolute;
  width: 360px;
  margin-left: -180px;
}

/* line 18, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_footer.sass */
.footer_menu li {
  display: inline;
  float: left;
  margin-right: 30px;
}

/* line 21, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/elements/_footer.sass */
.footer_menu li a {
  font-size: 14px;
  color: #999999;
}

/* ******************************************** */
/* Main styles (Global styles for all pages) */
/* ******************************************** */
/* line 5, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
body {
  background: #fbfaec;
  font-family: Arial;
}

/* line 8, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.container {
  width: 1250px;
  position: relative;
}

/* line 11, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.main_section {
  display: inline;
  float: left;
  width: 872px;
  text-align: left;
}

/* line 15, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.main_section .post-wrapper {
  margin-left: 105px;
  width: 600px;
  color: #333333;
  font-size: 16px;
  line-height: 25px;
  padding-top: 50px;
}

/* line 22, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.main_section .post-wrapper h1, .main_section .post-wrapper h2 {
  font-weight: normal;
}

/* line 24, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.main_section .post-wrapper h2 {
  line-height: 32px;
  margin-top: 0;
}

/* line 27, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.main_section .post-wrapper p, .main_section .post-wrapper h1, .main_section .post-wrapper h2, .main_section .post-wrapper h3 {
  margin-bottom: 25px;
}

/* line 29, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.right_sidebar {
  display: inline;
  float: left;
  width: 370px;
  text-align: left;
}

/* ******************************************** */
/* modal box elements */
/* ******************************************** */
/* line 36, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.modal_box {
  border: 1px solid #ebeae8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: white;
}

/* line 40, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.modal_box .modal_body {
  padding: 20px;
  font-size: 14px;
  color: #999999;
}

/* line 44, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.modal_box .modal_body .media-heading {
  font-weight: bold;
  color: #4d4d4d;
}

/* line 47, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.modal_title1, .modal_title2, .modal_title3 {
  font-size: 14px;
  text-align: center;
  color: #8b8b8b;
  padding: 17px 0 14px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #ebeae8;
}

/* line 54, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.modal_title2, .modal_title3 {
  background: #fbfbfb;
  font-size: 18px;
  color: #8b8b8b;
  padding: 12px 0 12px 0;
}

/* line 60, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.modal_title3 {
  padding: 28px 0 18px 0;
  border-top: 1px solid #ebeae8;
}

/* line 64, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.modal_footer {
  border-top: 1px solid #ebeae8;
}

/* line 66, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.media {
  margin-top: 30px;
}

/* line 68, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.media .pull-left {
  margin-right: 18px;
}

/* ******************************************** */
/* offer card elements */
/* ******************************************** */
/* line 74, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.offer_card {
  width: 252px;
  margin: 0 auto 12px auto;
  background: white;
  border: 1px solid #ebebeb;
}

/* line 79, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.offer_title {
  font-size: 12px;
  color: #4b4b4b;
  margin-top: 12px;
  margin-left: 16px;
  display: block;
}

/* line 85, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.vendor_pic {
  display: inline;
  float: left;
  margin: 12px 10px 6px 13px;
}

/* line 88, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.vendor_name {
  font-size: 12px;
  line-height: 16px;
  color: #6b635b;
  padding-top: 13px;
  display: block;
}

/* line 94, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.vendor_working_area {
  font-size: 10px;
  color: #999999;
  line-height: 14px;
}

/* line 98, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.bottom_box {
  border-top: 1px solid #ebebeb;
}

/* line 100, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.comment_box {
  display: inline;
  float: left;
  font-size: 10px;
  color: #4d4d4d;
  width: 29px;
  padding: 7px 33px 7px 0px;
  margin-left: 8px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  background: image-url("icons/comment.png") no-repeat;
  background-position: 70% 8px;
  text-align: right;
}

/* line 112, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.like_box {
  display: inline;
  float: left;
  border-top: 2px solid #6b823c;
  width: 90px;
  padding: 5px 5px 5px 5px;
}

/* line 117, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.like_box .like {
  background: image-url("icons/like.png") no-repeat;
  display: inline;
  float: left;
  font-size: 10px;
  color: #999999;
  cursor: pointer;
  padding: 0 5px 0 20px;
}

/* line 124, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.like_box .dislike {
  background: image-url("icons/dislike.png") no-repeat;
  display: inline;
  float: right;
  font-size: 10px;
  color: #999999;
  cursor: pointer;
  padding: 0 5px 0 20px;
}

/* line 131, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.price_box {
  display: inline;
  float: left;
  font-size: 10px;
  color: #4d4d4d;
  text-align: center;
  width: 80px;
  padding: 7px 0px;
  margin-left: 13px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

/* line 141, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.add_me_box {
  display: inline;
  float: left;
  font-size: 16px;
  color: #797979;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

/* line 148, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.add_me_box .unchecked {
  width: 57px;
  text-align: center;
  padding: 6px 0;
}

/* line 152, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.add_me_box .checked {
  display: none;
}

/* ******************************************** */
/* icons */
/* ******************************************** */
/* line 158, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.ok_icon {
  background-position: 0 -793px;
  height: 25px;
  width: 25px;
}

/* line 160, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.checked_icon {
  background-position: 0 -647px;
  height: 25px;
  width: 25px;
}

/* line 162, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.flag_icon {
  background-position: 0 -878px;
  height: 26px;
  width: 26px;
}

/* line 164, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.analysis_icon {
  background-position: 0 -672px;
  height: 37px;
  width: 37px;
}

/* line 166, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.natural_icon {
  background-position: 0 -574px;
  height: 37px;
  width: 37px;
}

/* line 168, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.improve_icon {
  background-position: 0 -709px;
  height: 37px;
  width: 37px;
}

/* line 170, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.tools_icon {
  background-position: 0 -537px;
  height: 37px;
  width: 37px;
}

/* line 172, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.elle_icon {
  background-position: 0 -611px;
  height: 36px;
  width: 106px;
}

/* line 174, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.fab_icon {
  background-position: 0 -305px;
  height: 23px;
  width: 152px;
}

/* line 176, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.oxygen_icon {
  background-position: 0 -473px;
  height: 64px;
  width: 65px;
}

/* ******************************************** */
/* Helpers */
/* ******************************************** */
/* line 181, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.fleft {
  display: inline;
  float: left;
}

/* line 183, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.fright {
  display: inline;
  float: right;
}

/* line 185, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_global.sass */
.clear {
  clear: both;
  font-size: 1px;
  height: 0px;
}

/* ******************************************** */
/* Home page */
/* ******************************************** */
/* ***************** promo section ***************** */
/* line 9, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.home .promo_section .container {
  width: 1024px;
}

/* line 11, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section {
  background: #ff6f6e;
  min-width: 1250px;
}

/* line 14, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .bg_1 {
  background: #f6987c;
  left: 55px;
  top: 135px;
  position: absolute;
  height: 175px;
  width: 970px;
}

/* line 18, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .msg_box {
  display: inline;
  float: left;
  height: 188px;
  width: 540px;
  margin-top: 100px;
  margin-left: 27px;
  margin-bottom: 120px;
  background: #e98492;
  z-index: 100;
  position: relative;
}

/* line 27, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .msg_box .title {
  background: white;
  height: 60px;
  width: 523px;
  left: -22px;
  top: 27px;
  position: absolute;
  padding-top: 16px;
  padding-left: 50px;
  margin: 0;
}

/* line 34, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .msg_box .msg {
  padding-top: 120px;
  color: white;
  font-size: 16px;
  text-align: center;
}

/* line 39, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .msg_box .btn-black {
  width: 180px;
  position: absolute;
  bottom: -12px;
  left: 155px;
}

/* line 42, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box {
  display: inline;
  float: left;
  position: relative;
}

/* line 45, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box .cards {
  background: white;
  padding: 7px;
}

/* line 48, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box .card_top {
  left: 134px;
  top: 98px;
  position: absolute;
  width: 168px;
  -webkit-transform: rotate(357deg);
  -moz-transform: rotate(357deg);
  -ms-transform: rotate(357deg);
  -o-transform: rotate(357deg);
  transform: rotate(357deg);
  z-index: 300;
}

/* line 53, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box .card_top .description {
  padding: 17px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

/* line 58, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box .card_1 {
  left: 37px;
  top: 56px;
  position: absolute;
  width: 118px;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
}

/* line 62, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box .card_1 .description {
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

/* line 67, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box .card_2 {
  left: 21px;
  top: 240px;
  position: absolute;
  width: 97px;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
}

/* line 71, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box .card_3 {
  left: 290px;
  top: 74px;
  position: absolute;
  width: 100px;
  -webkit-transform: rotate(357deg);
  -moz-transform: rotate(357deg);
  -ms-transform: rotate(357deg);
  -o-transform: rotate(357deg);
  transform: rotate(357deg);
}

/* line 75, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.promo_section .card_box .card_4 {
  left: 319px;
  top: 194px;
  position: absolute;
  width: 113px;
  -webkit-transform: rotate(276deg);
  -moz-transform: rotate(276deg);
  -ms-transform: rotate(276deg);
  -o-transform: rotate(276deg);
  transform: rotate(276deg);
}

/* ***************** how it works section ***************** */
/* line 82, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.how_it_works_section .how_it_works_txt {
  color: #999999;
  font-size: 12px;
  text-align: center;
  padding: 34px 0 0;
}

/* line 87, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.how_it_works_section .slide_wrapper {
  width: 800px;
  margin: 0 auto;
}

/* line 92, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.how_it_works_section .slides li .title {
  text-align: center;
  margin-bottom: 18px;
}

/* line 95, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.how_it_works_section .slides li .title img {
  display: inline;
}

/* line 97, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.how_it_works_section .slides li p {
  color: #6b635b;
  font-size: 16px;
  text-align: center;
}

/* line 101, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.how_it_works_section .slides li .showcase {
  padding-top: 15px;
}

/* line 103, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.how_it_works_section .control-nav {
  text-align: center;
  margin-bottom: 40px;
}

/* ***************** testimonials section ***************** */
/* line 107, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section {
  background: #f7f7f7;
  padding: 44px 0 50px;
}

/* line 110, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .title {
  text-align: center;
  margin-bottom: 18px;
}

/* line 113, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .title img {
  display: inline;
}

/* line 115, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section p {
  color: #6b635b;
  font-size: 16px;
  text-align: center;
}

/* line 119, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .showcase {
  padding-top: 15px;
}

/* line 121, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .testimonial_container {
  width: 630px;
  margin: 0 auto;
  padding-top: 30px;
}

/* line 125, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .testimonial_container .testimonial_box {
  position: relative;
  color: #957662;
  height: 80px;
  width: 225px;
  background: #f6e8df;
  font-size: 12px;
  border: 1px solid #d7cbc4;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 136, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .testimonial_container .testimonial_box .arrow {
  background-position: 0 -850px;
  height: 12px;
  width: 26px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -13px;
}

/* line 140, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .testimonial_container .user_info {
  padding: 10px 0 42px;
  overflow: hidden;
  *zoom: 1;
}

/* line 143, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .testimonial_container .user_info .user_pic {
  display: inline;
  float: left;
  margin-left: 35px;
  margin-right: 12px;
  width: 32px;
}

/* line 148, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.testimonials_section .testimonial_container .user_info .user_name {
  display: inline;
  float: left;
  font-size: 12px;
  margin-top: 8px;
}

/* line 152, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.btn_box {
  padding: 100px 0 80px;
  text-align: center;
}

/* line 155, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_home.sass */
.help_box {
  min-width: 1220px;
  height: 55px;
  text-align: center;
  font-size: 14px;
  line-height: 55px;
  color: #999999;
}

/* ******************************************** */
/* Marketplace page */
/* ******************************************** */
/* line 6, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.markets_index .promo_section {
  min-width: 1250px;
  background: #ff8594;
  margin-top: 72px;
  padding-top: 30px;
  padding-bottom: 1px;
}

/* line 12, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.markets_index .promo_section .flex-control-nav {
  display: none;
}

/* line 14, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.markets_index .slide_wrapper {
  width: 620px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

/* line 19, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.markets_index .slide_wrapper .title {
  font-size: 34px;
  line-height: 50px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 22px;
}

/* line 27, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.markets_index .slide_wrapper .autor {
  font-size: 16px;
  margin-bottom: 26px;
}

/* line 30, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.markets_index .slide_wrapper .btn {
  width: 185px;
  padding: 16px 35px;
  text-align: left;
}

/* line 34, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.offer_section {
  padding: 33px 41px 0 41px;
  min-width: 1168px;
}

/* line 37, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.offer_section .section_header {
  color: #8b8b8b;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 24px;
}

/* line 44, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.offer_section table {
  width: 100%;
  border: none;
}

/* line 47, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.offer_section td {
  text-align: center;
}

/* line 49, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.offer_card {
  width: 252px;
  margin: 0 auto 12px auto;
  background: white;
  border: 1px solid #ebebeb;
}

/* line 54, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.offer_title {
  font-size: 12px;
  color: #4b4b4b;
  margin-top: 12px;
  margin-left: 16px;
  display: block;
}

/* line 60, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.vendor_pic {
  display: inline;
  float: left;
  margin: 12px 10px 6px 13px;
}

/* line 63, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.vendor_name {
  font-size: 12px;
  line-height: 16px;
  color: #6b635b;
  padding-top: 13px;
  display: block;
}

/* line 69, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.vendor_working_area {
  font-size: 10px;
  color: #999999;
  line-height: 14px;
}

/* line 73, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.bottom_box {
  border-top: 1px solid #ebebeb;
}

/* line 75, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.like_box {
  display: inline;
  float: left;
  border-top: 2px solid #6b823c;
  width: 90px;
  padding: 5px 5px 5px 5px;
}

/* line 80, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.like_box .like {
  background: image-url("icons/like.png") no-repeat;
  display: inline;
  float: left;
  font-size: 10px;
  color: #999999;
  cursor: pointer;
  padding: 0 5px 0 20px;
}

/* line 87, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.like_box .dislike {
  background: image-url("icons/dislike.png") no-repeat;
  display: inline;
  float: right;
  font-size: 10px;
  color: #999999;
  cursor: pointer;
  padding: 0 5px 0 20px;
}

/* line 94, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.price_box {
  display: inline;
  float: left;
  font-size: 10px;
  color: #4d4d4d;
  text-align: center;
  width: 80px;
  padding: 7px 0px;
  margin-left: 13px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

/* line 104, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.add_me_box {
  display: inline;
  float: left;
  font-size: 16px;
  color: #797979;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

/* line 111, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.add_me_box .unchecked {
  width: 57px;
  text-align: center;
  padding: 6px 0;
}

/* line 115, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_marketplace.sass */
.add_me_box .checked {
  display: none;
}

/* ******************************************** */
/* Discover page */
/* ******************************************** */
/* line 5, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.filter_box {
  padding: 25px 0;
}

/* line 7, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.filter_box select {
  display: inline;
  float: left;
  width: 118px;
  margin-right: 20px;
  margin-bottom: 0px;
  color: #4d4d4d;
  font-size: 12px;
  line-height: 28px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e2e5de;
  height: 28px;
}

/* line 20, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .offer_card {
  display: inline;
  float: left;
  margin: 0px 41px 30px 0px;
  width: 230px;
}

/* line 24, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .offer_card .offer_pic {
  width: 230px;
  height: 197px;
  display: block;
}

/* line 28, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .offer_card .offer_pic img {
  width: 230px;
}

/* line 30, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .offer_card .ruby_icon {
  background-position: 0 -904px;
  height: 16px;
  width: 16px;
  display: inline;
  float: left;
  margin: 13px 0px 0px 12px;
}

/* line 34, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .offer_card .offer_title {
  margin-left: 33px;
  margin-bottom: 5px;
  height: 40px;
}

/* line 38, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .offer_card .offer_title a {
  color: #4b4b4b;
}

/* line 40, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .offer_card .like_box {
  border: none;
  padding: 7px 5px 5px 11px;
}

/* line 44, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .offer_card .add_me_box .unchecked {
  width: 50px;
}

/* line 47, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.discover .media-body a {
  display: block;
  line-height: 16px;
  color: #999999;
}

/* line 51, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_discover.sass */
.adv_box {
  padding: 8px 5px 11px 9px;
  margin-bottom: 36px;
}

/* ******************************************** */
/* Course page */
/* ******************************************** */
/* line 6, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show {
  background: #faf9f5;
}

/* line 8, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .promo_section {
  min-width: 1250px;
  background: #c1e4de;
  margin-top: 10px;
  padding: 20px 0;
}

/* line 13, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .promo_section .promo_wrapper {
  width: 1024px;
  margin: 0 auto;
}

/* line 16, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .promo_section .info_box {
  display: inline;
  float: left;
  width: 620px;
}

/* line 19, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .promo_section .icon_box {
  display: inline;
  float: left;
  margin-left: 140px;
}

/* line 23, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .title {
  font-size: 34px;
  line-height: 50px;
  color: #424242;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 22px;
}

/* line 31, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .autor {
  font-size: 16px;
  text-align: center;
  margin-bottom: 26px;
  color: #666666;
}

/* line 36, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .btn {
  width: 230px;
  margin: 0 auto;
  padding: 16px 16px;
  text-align: left;
  background-position: 93% 50%;
  display: block;
}

/* line 43, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .btn .price {
  position: relative;
  top: 3px;
  font-size: 24px;
  margin-left: 5px;
}

/* line 49, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .btn-red.btn-arrow, .markets_show .btn-red.btn-arrow:hover {
  font-size: 12px;
  padding: 16px 16px;
  width: 230px;
  margin: 140px 0 60px 0;
  padding: 16px 16px;
  text-align: left;
  background-image: image-url("icons/btn_arrow_red.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

/* line 59, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .main_section {
  width: 764px;
}

/* line 61, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .right_sidebar {
  width: 466px;
  background: white;
  margin-top: 42px;
  border: 1px solid #ebeae8;
}

/* line 66, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .right_sidebar .bottom_box {
  width: 230px;
  margin: 0 auto;
  display: block;
}

/* line 70, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .member_box {
  padding: 15px 0 0 15px;
}

/* line 72, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .member_box .member_icon {
  display: inline;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #686869;
}

/* line 78, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .modal_footer {
  padding: 12px;
}

/* line 80, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .what_you_get_box {
  padding: 25px;
}

/* line 82, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .what_you_get_box .media-body {
  font-size: 16px;
  color: #333333;
}

/* line 86, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .instructor_box .instructor_head {
  padding: 20px 40px 12px 40px;
  border-bottom: 1px solid #ebeae8;
}

/* line 89, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .instructor_box .instructor_pic {
  display: inline;
  float: left;
  width: 120px;
  height: 120px;
}

/* line 91, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .instructor_box .instructor_name {
  padding-top: 60px;
  display: inline;
  float: left;
  font-size: 36px;
  color: #424242;
  padding: 45px 0 0 20px;
}

/* line 97, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .instructor_box .instructor_description {
  padding: 35px;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}

/* line 102, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .instructor_box .instructor_description p {
  margin-bottom: 26px;
}

/* line 105, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .review_box .review {
  padding: 20px;
  border-bottom: 1px solid #ebeae8;
}

/* line 108, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .review_box .reviewer_pic {
  display: inline;
  float: left;
  margin-right: 20px;
}

/* line 111, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .review_box .review_body {
  display: inline;
  float: left;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  width: 355px;
}

/* line 117, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .review_box .review_title {
  font-weight: bold;
  padding: 15px 0 25px 0;
}

/* line 120, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .review_box .riview_msg {
  font-size: 12px;
  line-height: 19px;
}

/* line 123, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .review_box .seeAll {
  display: block;
  height: 67px;
  font-size: 16px;
  line-height: 67px;
  font-weight: bold;
  text-align: center;
}

/* line 130, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .cirriculum_box {
  padding: 20px 20px 5px 20px;
  color: #424242;
  font-size: 12px;
}

/* line 134, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .cirriculum_box .media {
  margin-top: 0;
  margin-bottom: 15px;
}

/* line 137, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .cirriculum_box .pull-left {
  margin-right: 41px;
  font-weight: bold;
}

/* line 140, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .foq_box {
  padding: 20px 20px 20px 20px;
}

/* line 142, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .partners_box {
  padding: 20px;
}

/* line 144, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .elle_icon, .markets_show .fab_icon, .markets_show .oxygen_icon {
  display: inline;
  float: left;
}

/* line 146, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .elle_icon {
  margin: 14px 0 0 0;
}

/* line 148, /home/vladimir/Documents/FreeLProjects/ODESK/Bill/ideal_me/source/css/pages/_course.sass */
.markets_show .fab_icon {
  margin: 21px 41px 0px 41px;
}
