.dashboard
  footer
    margin-top: 0
  .body_content > .container
    padding: 0
  #date-filter-container
    input.datepicker
      width: 170px

  .nav > li > a
    padding: 5px 10px

  .left-nav
    margin-top: 60px

  #date-filter-container
    padding-top: 20px

  .dashboard-content
    padding: 20px 0

  .body-content
    font-size: 13px

  ul.nav.nav-tabs
    margin-bottom: 20px
  table.table-condensed
    font-size: 12px
  .date-range-header
    font-weight: bold
    padding: 20px 0
    .btn
      margin-left: 10px

