.staging-banner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
}

.offer_section {
  padding: 33px 41px 0 41px;
  min-width: 1000px;
  max-width: 1168px;
  margin: auto;
  .section_header {
    color: #8b8b8b;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 24px;
  }
  table {
    width: 100%;
    border: none;
  }
  td {
    text-align: center;
  }
}

.btn-lightblue, .btn-blue, .btn-red { border: none; }

.btn-lightblue { background: none repeat scroll 0 0 #4099FF; &:hover {background: none repeat scroll 0 0 #7099FF; } }
.btn-blue { background: none repeat scroll 0 0 #3b5998; &:hover {background: none repeat scroll 0 0 #3B59A0; } }
.btn-red { background: none repeat scroll 0 0 #f16764; &:hover {background: none repeat scroll 0 0 #FA7977; } }