.staging-banner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
}

.offer-section {
  padding: 10px 0px;
  min-width: 1000px;
  max-width: 1250px;
  margin: auto;
  .section_header {
    color: #8b8b8b;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 24px;
  }
  table {
    width: 100%;
    border: none;
  }
  td {
    text-align: center;
  }
}

.btn-lightblue, .btn-blue, .btn-red, .btn-white { color: #FFFFFF; padding: 8px 25px; text-shadow: none; font-size: 18px; font-weight: 500; &:hover { color: white; } }
.btn-lightblue { background: none repeat scroll 0 0 #4099FF; &:hover, &:focus, &.active {background: none repeat scroll 0 0 #7099FF; } }
.btn-blue { background: none repeat scroll 0 0 #3b5998; &:hover, &:focus, &.active {background: none repeat scroll 0 0 #3B59A0; } }
.btn-red { background: none repeat scroll 0 0 #f16764; &:hover, &:focus, &.active {background: none repeat scroll 0 0 #FA7977; } }
.btn-white { color: inherit; background: none repeat scroll 0 0 #fff; &:hover, &:focus, &.active { color: inherit; background: none repeat scroll 0 0 #fefefe; } }

.form-horizontal .control-label {
  /*float: right;*/
}

.simple_form {
  abbr {
    display: none;
  }
  .buttons {
    padding: 30px 0;
  }
}
.sort-grip-column {
  width: 30px;
}

.btn-link:hover {
  text-decoration: none;
}
