- content_for :date_picker do
  = form_tag(dashboard_courses_path, :method => 'get') do
    p
      strong
        | Filter date ranges
    = label_tag 'from', 'From:'
    = text_field_tag('from', @from, :class => 'datepicker')
    = label_tag 'to', 'To:'
    = text_field_tag('to', @to, :class => 'datepicker')
    = submit_tag('Filter', :class => 'success button')
.row
  .twelve.columns
    h4
      | Displaying statistics from 
      = @from_date
      |  to 
      = @to_date
    dl.sub-nav
      dt
        | Filter:
      |  <dd class="
      = active_tab?('stats', @tab, 'active', 'inactive')
      | "> 
      = link_to('Stats Overview', dashboard_courses_path(@base.merge({:tab => 'stats'})))
      |  <dd class="
      = active_tab?('sale', @tab, 'active', 'inactive')
      | "> 
      = link_to('Total Sales', dashboard_courses_path(@base.merge({:tab => 'sale'})))
      |  <dd class="
      = active_tab?('affiliate', @tab, 'active', 'inactive')
      | "> 
      = link_to('All Affiliates', dashboard_courses_path(@base.merge({:tab => 'affiliate'})))
      |  <dd class="
      = active_tab?('student', @tab, 'active', 'inactive')
      | "> 
      = link_to('All Students', dashboard_courses_path(@base.merge({:tab => 'student'})))
      |  <dd class="
      = active_tab?('course', @tab, 'active', 'inactive')
      | "> 
      = link_to('Courses', dashboard_courses_path(@base.merge({:tab => 'course'})))
    - case @tab

    - when 'stats'
      = render(:partial => 'dashboard/courses/partials/stats')
    - when 'course'
      = render(:partial => 'dashboard/courses/partials/courses')
    - when 'sale'
      = render(:partial => 'dashboard/courses/partials/sales')
    - when 'affiliate'
      = render(:partial => 'dashboard/courses/partials/affiliates')
    - when 'student'
      = render(:partial => 'dashboard/courses/partials/students')
