%h1 Listing ajax_users

%table
  %tr
    %th
    %th
    %th

  - @ajax_users.each do |ajax_user|
    %tr
      %td= link_to 'Show', ajax_user
      %td= link_to 'Edit', edit_ajax_user_path(ajax_user)
      %td= link_to 'Destroy', ajax_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_ajax_user_path
