.container                
  %ul.footer-menu.unstyled
    %li
      %a{:href => "/static/about"} About
    %li
      %a{:href => "/static/terms-of-services"} Terms
    %li
      %a{:href => "/static/privacy-policy"} Privacy
    %li
      %a{:href => "/feedbacks/new"} Feedback
    %li.last
      %a{:href => "/static/customer-care"} Customer Care