/* ******************************************** */
/* Me page */
/* ******************************************** */
.users-profile {
  @include bg(#faf9f4);

  .user-profile {
    margin: 30px 0 40px 0;
    .user-avatar {
      @include float-left;
      width: 120px;
      .btn {
        @include bg(white);
        @include bg-pos(top, left);
        @include border-radius(2px);
        border: 1px solid #ebebeb;
        @include box-shadow(none);
        padding: 11px 35px;
        @include hex(#4d4d4d);
        @include fs(12px);
        @include lh(12px);
        @include upper;
        &:hover {
          @include bg-pos(top, left);
          border: 1px solid #bcbcbc;
          //@include background-image(linear-gradient(top, white, #fafafa));
        }
      }

    }
    .user-informaiton {
      @include float-left;
      padding: 26px 0 0 32px;
      .user-fullname {
        @include fs(28px);
        @include lh(20px);
        @include hex(#6b635b);
        @include bold;
        @include m_b(8px);
      }
      .user-tagline {

        @include hex(#a1a1a1);
        @include fs(12px);
        @include lh(20px);
        width: 350px;
      }
    }
  }
  .user-counters {
    @include float-right;
    border: 1px solid #f2f2f2;
    @include bg(white);
    @include border-radius(2px);
    margin-top: 15px;
    margin-right: 15px;
    .counter {
      @include centered;
      @include hex(#999999);
      @include fs(11px);
      @include float-left;
      padding: 8px 35px 0 35px;
    }
    .checkins-box {
      @include fs(36px);
      @include lh(36px);
      @include bg(image-url("icons/checked_green_icon.png") no-repeat);
      @include bg_pos(100%, 1px);
      @include hex(#4fbe56);
      text-align: left;
      padding-right: 36px;
    }
    .collected-box {
      @extend .checkins-box;
      @include hex(#ff716f);
      @include bg(image-url("icons/ruby2.png") no-repeat);
      @include bg_pos(100%, 5px);
      padding-right: 28px;
    }
    .created-box {
      @extend .checkins-box;
      @include hex(#e88391);
      @include bg(image-url("icons/ruby3.png") no-repeat);
      @include bg_pos(100%, 5px);
      padding-right: 28px;
    }
    .supporters-box {
      @extend .checkins-box;
      @include hex(#ff716f);
      @include bg(image-url("icons/support_icon.png") no-repeat);
      @include bg_pos(100%, 5px);
      padding-right: 28px;
    }
    .supporting-box {
      @extend .checkins-box;
      @include hex(#e88391);
      @include bg(image-url("icons/support_icon2.png") no-repeat);
      @include bg_pos(100%, 5px);
      padding-right: 28px;
    }
    .divider {
      @include sprite_css(divider);
      @include float-left;
    }
  }
  .menu-section {
    border-bottom: 1px solid #ebeae5;
    @include m_b(50px);
    .user-menu {
      margin: 0;
      //@include float-left;
      li {
        @include float-left;
        margin-right: 10px;

        &.active, &:hover {
          border-bottom: 2px solid #ff6766;
        }
        a {
          padding: 10px 28px;
          @include block;
          @include hex(#424242);
          @include fs(14px);
          @include upper;
          @include rel;
          top: 1px;
          &:hover {
            text-decoration: none;
          }
        }
        .goal-icon {
          @include bg(image-url("icons/flag_icon2.png") no-repeat);
          @include bg_pos(0px, 50%);
        }
        .course-icon {
          @include bg(image-url("icons/course_icon.png") no-repeat);
          @include bg_pos(0, 50%);
          @include p_l(35px);
        }
      }
    }

  }
  .goals_section {
    padding-bottom: 20px;
  }
  .bottom_box {
    @include fs(10px);
    @include lh(14px);
  }
  .counter {
    @include hex(#ff6766);
    @include centered;
  }

  .lose_weight_icon {
    margin: 35px auto 30px auto;
  }

}

#edit_user {
  .profile-picture { margin-bottom: -50px; }
  .form-inline { margin-left: 180px; }
  .user_password, .user_password_confirmation { width: 240px; float: left; }
  .user_password { display: inline-block; }
  .btn { padding: 7px 70px; }
}