.users-welcome {
  >.body-content {
    >.top-message-box {
      @include centered;
      @include hex(#8b8b8b);
      @include fs(16px);
      @include lh(20px);
      .title {
      }
    }
  }
  @include bg(#fbfaf4);
  .goals_section {
    width: 100%;
    border: none;
    margin-top: 15px;

  }
  .btn-red {
    width: 236px;
    margin: 0px auto 40px auto;
    @include block;
  }
}
