/* ******************************************** */
/* To Do page */
/* ******************************************** */
.users_welcome
  .top_msg_box
    +centered
    +hex(#8B8B8B)
    +fs(16px)
    +lh(20px)
    .title
  +bg(#fbfaf4)
  .goals_section
    width: 100%
    border: none
    margin-top: 15px
    .goal_box
      float: none
      +block
      margin: 0 auto 20px auto
    .goal_icon
      height: 125px
      +p_t(35px)
      +centered
    .bottom_box
      +bg(#fafafa)
      height: 55px
      +lh(55px)
      +centered
      .goal-picker
        +fs(36px)
  .btn-red
    width: 236px
    padding: 25px 0px
    +centered
    margin: 0px auto 40px auto
    +block
