<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Client Error
    %link{:href => "/static/css/http_errors.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    %header
      .container
        .logo
          %a{:href => "/", :title => "Ideal me"}
    %section.body-content
      .container   
        %h1 
          The system is down for 
          = reason ? reason : 'maintenance'
        %p
          It will be back 
          = deadline ? deadline : 'soon'
        %img{:alt => '404', :src => '/static/images/tb_run2.png'}/