---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3SO70TaOUpzwfi&description=beansalad%40idealme.com
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Sat, 08 Feb 2014 05:08:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_3SO7o2ykh5dcXo&description=beansalad%40idealme.com
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1391836085,
          "id": "cus_3SO7FW1ohWtqP6",
          "livemode": false,
          "description": "beansalad@idealme.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_3SO7FW1ohWtqP6/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3SO7FW1ohWtqP6/cards",
            "data": [
              {
                "id": "card_3SO7HlHNUqDT5O",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "0FJgJUWQopgJgoZs",
                "customer": "cus_3SO7FW1ohWtqP6",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_3SO7HlHNUqDT5O"
        }
  recorded_at: Sat, 08 Feb 2014 05:08:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=700&currency=usd&customer=cus_3SO7FW1ohWtqP6
    headers:
      Authorization:
      - Bearer sk_test_McolaUo3frJYYalxTTjg0Au1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3SO7inYOI5LbmN",
          "object": "charge",
          "created": 1391836086,
          "livemode": false,
          "paid": true,
          "amount": 700,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_3SO7HlHNUqDT5O",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "0FJgJUWQopgJgoZs",
            "customer": "cus_3SO7FW1ohWtqP6",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_3SO7BulzMLADwD",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3SO7FW1ohWtqP6",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Sat, 08 Feb 2014 05:08:07 GMT
recorded_with: VCR 2.8.0
