---
http_interactions:
- request:
    method: post
    uri: https://api.hipchat.com/v1/rooms/message?auth_token=2876c736673caf9c04fd310cdb2e47
    body:
      encoding: UTF-8
      string: room_id=notifications&from=idealme.com&message=New%20email%20optin%3A%20charlie%2B22%40idealme.com&message_format=html&color=yellow&notify=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hipchat-Jobs:
      - Want to help make HipChat better? Apply at hipchat.com/jobs and mention this
        header.
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1390957260'
    body:
      encoding: UTF-8
      string: "{\"status\":\"sent\"}"
  recorded_at: Wed, 29 Jan 2014 01:00:53 GMT
- request:
    method: post
    uri: https://sk_test_McolaUo3frJYYalxTTjg0Au1:@api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=700&currency=usd&card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2017&card[cvc]=123&card[name]=Bean+Salad&description=Idealme+Workbook+Postage&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.42.4&metadata[email]=beansalad%40idealme.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3OZsxgl2EW3IGb",
          "object": "charge",
          "created": 1390957257,
          "livemode": false,
          "paid": true,
          "amount": 700,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_3OZsIdLNpoDW2H",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2017,
            "fingerprint": "0FJgJUWQopgJgoZs",
            "customer": null,
            "country": "US",
            "name": "Bean Salad",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_3OZsDfLh2pbYtR",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Idealme Workbook Postage",
          "dispute": null,
          "metadata": {
            "email": "beansalad@idealme.com"
          }
        }
  recorded_at: Wed, 29 Jan 2014 01:00:58 GMT
- request:
    method: post
    uri: https://sk_test_McolaUo3frJYYalxTTjg0Au1:@api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Idealme+Workbook+Postage&email=beansalad%40idealme.com&card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2017&card[cvc]=123&card[name]=Bean+Salad
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1390957258,
          "id": "cus_3OZsjCb3xf9VRV",
          "livemode": false,
          "description": "Idealme Workbook Postage",
          "email": "beansalad@idealme.com",
          "delinquent": false,
          "metadata": {},
          "subscription": null,
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3OZsjCb3xf9VRV/cards",
            "data": [
              {
                "id": "card_3OZsSwCgibIWfu",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "0FJgJUWQopgJgoZs",
                "customer": "cus_3OZsjCb3xf9VRV",
                "country": "US",
                "name": "Bean Salad",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_3OZsSwCgibIWfu"
        }
  recorded_at: Wed, 29 Jan 2014 01:00:59 GMT
recorded_with: VCR 2.8.0
