
= display_meta_tags site: 'Ideal Me'
meta content='width=1300' name='viewport' /
= stylesheet_link_tag 'application', media: 'all'
= csrf_meta_tags
link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700' rel='stylesheet' type='text/css'
link href=asset_path("apple-touch-icon-57x57.png") rel="apple-touch-icon" sizes="57x57" /

link href=asset_path("apple-touch-icon-114x114.png") rel="apple-touch-icon" sizes="114x114" /
link href=asset_path("apple-touch-icon-72x72.png") rel="apple-touch-icon" sizes="72x72" /
link href=asset_path("apple-touch-icon-144x144.png") rel="apple-touch-icon" sizes="144x144" /
link href=asset_path("apple-touch-icon-60x60.png") rel="apple-touch-icon" sizes="60x60" /
link href=asset_path("apple-touch-icon-120x120.png") rel="apple-touch-icon" sizes="120x120" /
link href=asset_path("apple-touch-icon-76x76.png") rel="apple-touch-icon" sizes="76x76" /
link href=asset_path("apple-touch-icon-152x152.png") rel="apple-touch-icon" sizes="152x152" /
link href=asset_path("favicon-16x16.png") rel="icon" sizes="16x16" type="image/png" /
link href=asset_path("favicon-32x32.png") rel="icon" sizes="32x32" type="image/png" /
link href=asset_path("favicon-96x96.png") rel="icon" sizes="96x96" type="image/png" /
link href=asset_path("favicon-160x160.png") rel="icon" sizes="160x160" type="image/png" /
meta content="#ff6766" name="msapplication-TileColor" /
meta content=asset_path("mstile-144x144.png") name="msapplication-TileImage" /
meta content=asset_path("mstile-70x70.png") name="msapplication-square70x70logo" /
meta content=asset_path("mstile-150x150.png") name="msapplication-square150x150logo" /
meta content=asset_path("mstile-310x310.png") name="msapplication-square310x310logo" /

script src="https://js.stripe.com/v2/"
/script type="text/javascript"
  /' Stripe.setPublishableKey('#{ENV['STRIPE_PUBLIC_KEY']}');
script src="//cdn.optimizely.com/js/585912477.js"
= javascript_include_tag 'application'
= javascript_include_tag('admin') if params[:controller].include?('admin')
= render 'partials/google_analytics' if Rails.env.production?
= yield :head
