.landings-index {
  >.body-content {
    .container {
      width: 1250px;

    }
    >.promo-height {
      height: 490px;
    }
    >.promo-section {
      >.container {
        padding-top: 5px;
        min-width: 960px;
        min-width: 1250px;
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: 490px;
      }
    }
    .worksheet-column {
        float: left;
        width: 33%;
        margin: 0 -7.5% 0 15%;  
    }
    .worksheet {
      //margin: 0 98px;
        img {
            border-radius: 2px;
            float: left;
            margin-right: 20px;
            //border: 1px solid #eee;
            padding: 3px;
            background: #f1eae0;
        }
        p {
            height: 224px;
            font-size: 18px;
        }
    }
    .worksheet-wp {
      background: #fff;
      padding-bottom: 4em;
      }
    .courses-wp {
      background: #f7f5f1;
      }
    .course-name {
      min-height: 60px;
    }
    .courses-wp .worksheet-wp {
      .offer-section {
        .course-card { margin: 10px 26px; }
      }
    }
    .testimonials-section {
      @include bg(#fff);
      border-top: solid 1px #ebebe9;
      //border-bottom: solid 1px #ebebe9;
      padding: 44px 0 50px;
      >.title {
        @include centered;
        margin-bottom: 18px;
        img {
          display: inline;
        }
      }
      >p {
        @include hex(#6b635b);
        @include fs(16px);
        @include centered;
        font-size: 22px;
      }
      .testimonial-container {
        width: 630px;
        margin: 0 auto;
        @include p_t(30px);
        .testimonial {
          .testimonial-box {
            @include rel;
            @include hex(#957662);
            @include wxh(266px, 97px);
            @include bg(#f6e8df);
            @include fs(12px);
            border: 1px solid #d7cbc4;
            display: block;
            vertical-align: middle;
            @include centered;
            @include border-radius(5px);
            .box-cnt {
              display: table-cell;
              height: 92px;
              padding: 0 10px;
              vertical-align: middle;
              width: 268px;
              font-size: 14px;
              .arrow {
                @include sprite_css(testimonial_arrow);
                @include abs_bl(-12px, 50%);
                @include m_l(-13px);
              }
            }
          }
          >.user_info {
            padding: 10px 0 42px;
            @include clearfix;
            >.user_pic {
              @include float-left;
              margin-left: 35px;
              margin-right: 12px;
              width: 32px;
            }
            >.user_name {
              @include float-left;
              @include fs(12px);
              padding-top: 7px;
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}
